.object-inspector-component {
    background: #ffffff;
    height: 100%;
    width: 100%;
    padding: 10px 5px 0 5px;
    color: #000000;
}

.edit-text {
    font-size: 1.2em;
}

.info-icon {
    margin-left: 10px;
    cursor: pointer;
}
