@import "../../../../assets/sass/variables";

.editor-sidebar-component {
    right: 0;
    top: 0;
    padding-left: 10px;
    position: absolute;
    background: #000000;
    height: calc(100% - #{$editor-footer-height});
}

.collapse-icon {
    padding-top: 5px;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.sidebar-content {
    left: 30px;
    width: calc(100% - 30px);
    height: 100%;
    padding-top: 5px;
    position: absolute
}
