@import "../../../assets/sass/variables";

ct-tree-view {
  color: white;
  display: block;
  padding: 4px;
  overflow-y: auto;
  height: 100%;
  background: $brand-primary-bg;

  & > ct-tree-node > .main {
    font-family: $font-family-title;
    font-weight: 300;
    text-transform: uppercase;
  }

  ct-tree-node {
    font-size: $font-size-sm;
    display: block;
  }

  .main {
    padding: 3px 12px;
    border-radius: 4px;
    display: flex;
    outline: none;

    .name {
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &:hover {
      background: $brand-primary-bg-dark;

    }

    &.selected {
      background: $brand-primary-bg-bright;
      color: white;
    }
  }

  .children {
    padding-left: 20px;
  }

  .icon-space {
    display: inline-block;
    //padding: 0 0 0 6px;
    width: 20px;
    margin: 0 0 0 0;
  }

  .node-icon {
    margin-right: 4px;
  }

  .highlighted {

  }
}

.name-container {
  display: inline-block;

  .name {
    display: inline-block;
    border: 1px solid transparent;
    white-space: pre;
  }

  .name:first-child:not(:only-child) {
    color: $brand-primary;
    background: linear-gradient(to bottom, #fcfac0, #f6f283);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fcfac0, endColorstr=#f6f283);
    border-radius: 4px;
    border: 1px solid orange;
    box-sizing: border-box;
  }
}

.search-term {
  &.hidden {
    height: 0;
    opacity: 0;
    padding-left: 10px;
  }
  .term {
    white-space: pre;
  }
  height: 24px;
  opacity: 1;
  padding: 4px 14px;
  font-size: $font-size-xs;
  font-style: italic;
  transition: all .2s;
}