@import "../../../assets/sass/variables";

ct-tree-view {
  background: $brand-primary-bg;
  color: white;
  display: block;
  height: 100%;
  overflow-y: auto;
  padding: 4px;
  width: 100%;

  ct-tree-node {
    font-size: $font-size-sm;
    display: block;

  }

  .node-base {
    line-height: 18px;
    padding: 2px 4px;
    //line-height: 16px;
    border-radius: 2px;
    display: inline-block;
    outline: none;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    .name {
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &:hover {
      background: $brand-primary-bg-dark;

    }

    &.selected {
      background: $brand-primary-bg-bright;
      color: white;
    }
  }

  .children {
    padding-left: 20px;
  }

  .icon-space {
    display: inline-block;
    width: 20px;
    margin: 0 0 0 0;
  }

  .node-icon {
    margin-right: 4px;
  }

  .highlighted {

  }
}

.name-container {
  display: inline-block;
  width: calc(100% - 10px);
  vertical-align: middle;

  .name {
    display: inline-block;
    border: 1px solid transparent;
    white-space: pre;
  }

  .name:first-child:not(:only-child) {
    color: $brand-primary;
    background: linear-gradient(to bottom, #fcfac0, #f6f283);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fcfac0, endColorstr=#f6f283);
    border-radius: 4px;
    border: 1px solid orange;
    box-sizing: border-box;
  }
}

.search-term {
  &.hidden {
    height: 0;
    opacity: 0;
    padding: 0 0 0 10px;
  }
  .term {
    white-space: pre;
  }
  height: 24px;
  opacity: 1;
  padding: 4px 14px;
  font-size: $font-size-xs;
  font-style: italic;
  transition: all .2s;
}