@import "../../../assets/sass/variables";

.tool-container-component {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;

    .main-content {
        position: relative;
        min-height: 500px;
        height: calc(100% - #{$editor-footer-height} - #{$editor-padding-top});
    }
}

.tool-header {
    width: 100%;
    height: $editor-header-height;
    padding-top: $editor-padding-top;
    position: relative;
    display: block;
}

/*  The "display: none" styles attached to the native hidden property are implemented by the browser.
    Most browsers do so without an "!important" postscript.
    Consequently, the style carries low specificity and can be easy to override accidentally.
    http://angularjs.blogspot.rs/2016/04/5-rookie-mistakes-to-avoid-with-angular.html */
[hidden] {
    display: none !important;
}
