<div id="viewContainer">
    <header>
        <select id="revisionSelect" name="rev" [ngModel]="selectedRevision" (change)="onChange($event)">
            <option *ngFor="let revision of revisions" [value]="revision">{{revision}}</option>
        </select>

                        <span id="guiJsonButtons">
                            <button type="button"
                                    class="btn btn-secondary btn-sm selected"
                                    [ngClass]="{selected: viewMode === 'json'}"
                                    (click)="setViewMode('json')">JSON</button>

                            <button type="button"
                                    class="btn btn-secondary btn-sm"
                                    [ngClass]="{selected: viewMode === 'gui'}"
                                    (click)="setViewMode('gui')">GUI</button>
                        </span>

        <button id="saveButton" type="button" class="btn btn-secondary btn-sm">Save</button>
    </header>

    <div [ngSwitch]="viewMode">
        <block-loader *ngIf="!file"></block-loader>

        <gui-editor *ngSwitchDefault [file]="file"></gui-editor>
        <gui-editor *ngSwitchCase="'gui'" [file]="file"></gui-editor>
        <code-editor *ngSwitchCase="'json'" [file]="file"></code-editor>
    </div>
</div>
