@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_forms";
@import "~bootstrap/scss/_input-group";
@import "~bootstrap/scss/_labels";
@import "~bootstrap/scss/_tooltip";
@import "~bootstrap/scss/_buttons";
@import "~bootstrap/scss/_button-group";
@import "~bootstrap/scss/_close";

@import "../../../assets/sass/variables";

#viewContainer {

    header {
        margin-top: 10px;

        #revisionSelect {
            color: #000000;
            margin-right: 40px;
            width: 100px;
        }

        button {
            width: 8%;
        }

        .selected {
            background-color: $gui-base-gray;
            color:  #ffffff;
            border-color: #ffffff;
        }

        #saveButton {
            float: right;
            margin-right: 15px;
        }
    }
}
