@import "../../../assets/sass/_variables.scss";

:host {
    flex: 1;
    display: flex;
    flex-direction: column;

    .document-controls {
        margin-right: .5em;
    }

    .control-button {
        color: $layout-text-color;
    }

    .editor-layout {
        position: relative;
        display: flex;
        flex: 1;
    }

    .editor-main {
        flex: 3;
    }

    ct-editor-inspector {
        background: $gray;
        border-left: 1px solid $black;
        flex-basis: 320px;
        flex-shrink: 0;
    }

    .flex-hide {
        display: none;
    }

    /deep/ svg.cwl-workflow {

        padding: 0;
        display: block;
        width: 100%;
        height: 100%;
        position: relative;

    }


}
