:host {
    .open-project-btn {
        background: none !important;
        color: inherit;
        border: none;
        padding: 0 ! important;
        font: inherit;
        cursor: pointer;
        outline: inherit !important;
        text-decoration: underline;
    }
}
