<div class="file-picker" >
    <content-loading load="view.loading"></content-loading>
    <div class="file-picker-toolbar row">
        <form class="search-form col-xs-3" ng-submit="" novalidate>
            <div class="input-group">
                <input ng-keydown="onKeyDown($event)" type="text" class="form-control" ng-model="view.searchTerm" placeholder="Search files.." required>
                <span class="input-group-btn">
                    <!--<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>-->
                    <button ng-disabled="view.searchTerm | isEmpty" class="btn btn-expression btn-default" ng-click="view.searchTerm = ''"><i class="fa fa-ban"></i></button>
                </span>
            </div>
        </form>
        <div class="col-xs-1">
            <selected-files selected-files="selectedFiles" files="view.files"></selected-files>
        </div>
        <div class="col-xs-8">
            <ol ng-if="showFolders" class="breadcrumb">
                <li ng-class="{active: !breadcrumbs.length}">
                   <a href="" ng-click="goToRoot()">
                       Project
                   </a>
                </li>
                <li ng-class="{active: $last}" ng-repeat="crumb in breadcrumbs track by $index">
                    <a href="" ng-click="goToBreadcrumb($index)">
                        {{ ::crumb }}
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>File name</th>
                <th>Size</th>
                <th>File type</th>
                <th>Created On</th>
                <th>Task ID</th>
                <th>Sample ID</th>
                <th>Library ID</th>
                <th>Lane/slide</th>
                <th>Chunk number</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class="{'active': file.selected }" ng-repeat="file in view.files | filter:view.searchTerm"
                ng-click="toggleSelect(file)">
                <td class="select-file" title="{{ ::file.name }}">
                    <span>
                        <input ng-if="file.type === 'FILE'" ng-model="file.selected" ng-change="toggleSelect(file)" label="Select file"
                               type="checkbox"/>
                        <i class="fa" ng-class="{DIRECTORY: 'fa-folder', FILE:'fa-file-code-o'}[file.type]"></i>
                        {{ ::file.name }}
                    </span>

                </td>
                <td><span>{{ ::file.storage_node.uploaded_size | convertBits | defined }}</span></td>
                <td>{{ ::file.attrs.metadata.value.file_type | defined }}</td>
                <td>{{ ::file.storage_node.time_created | defined }}</td>
                <td>-</td>
                <td>{{ ::file.attrs.metadata.value.sample | defined }}</td>
                <td>{{ ::file.attrs.metadata.value.library | defined }}</td>
                <td>-</td>
                <td>-</td>
            </tr>
            </tbody>
        </table>
    </div>

    <paginator class="paginator" page="view.page" per-page="{{ ::view.perPage }}" total="view.total" handler="getMoreFiles(limit)"></paginator>

</div>