<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Manage Repo</h4>
</div>
<div class="modal-body">

    <form ng-submit="save()" name="view.form" novalidate>

        <div class="form-group" ng-class="{'has-error': (view.form.name.$invalid && view.form.$dirty)}">
            <label for="name" class="control-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" ng-model="view.repo.name" required>
        </div>

        <div class="form-group" ng-class="{'has-error': (view.form.name.$invalid && view.form.$dirty)}">
            <label for="description" class="control-label">Description</label>
            <textarea class="form-control" id="description" name="description" ng-model="view.repo.description"></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href ng-click="cancel()" class="btn btn-default">Cancel</a>
        </div>

    </form>

</div>