<div class="paginate" ng-if="paginator.total !== 0">

    <button
        class="btn btn-default pull-left"
        ng-disabled="!paginator.prev"
        ng-click="goToPage('prev')">
            <i class="fa fa-chevron-left"></i>
    </button>

    <span class="page-number">{{ page }} / {{ paginator.total }}</span>

    <button
        class="btn btn-default pull-right"
        ng-disabled="!paginator.next"
        ng-click="goToPage('next')">
            <i class="fa fa-chevron-right"></i>
    </button>

</div>