<div class="selected-files">
    <div class="btn-group" uib-dropdown is-open="view.isOpen">
        <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle uib-tooltip="Selected Files">
            <i class="fa fa-file"></i> <i class="fa fa-caret-down"></i>
            <span class="label label-primary">{{ selectedFiles.length }}</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="" ng-click="selectAll()">
                    Select All ({{ fileCount() }})
                </a>
            </li>
            <li ng-if="selectedFiles.length">
                <a href="" ng-click="clearSelection()">
                    Clear Selection ({{ selectedFiles.length }})
                </a>
            </li>
            <li ng-repeat="file in selectedFiles">
                <a ng-click="deselectFile(file, $event)">
                    <input type="checkbox" checked="true"/>
                    {{ ::file.name }}
                </a>
            </li>
        </ul>
    </div>
</div>