<div class="sidebar-inner" ng-class="{closed: !view.open}">
    <div ng-if="!view.loading">

        <div class="logo-wrap">
            <a class="logo" ui-sref="home">Rabix <small>alpha</small></a>
            <a class="toggle-sidebar" href ng-click="toggleSidebar()" uib-tooltip="{{ view.open ? 'Close' : 'Open' }} sidebar" tooltip-placement="right"><i class="fa fa-bars"></i></a>
        </div>
        <!-- # .logo-wrap-->

        <ul class="nav nav-tabs nav-stacked">

            <li ng-repeat="page in ::view.navigation" ng-class="{active: view.active === page.name}" ng-show="!page.permission || (page.permission === 'user' && view.user)">
                <a href ng-click="goTo(page)" ng-class="[page.name]" uib-tooltip="{{ ::page.desc }}" tooltip-placement="right">
                    <i ng-class="['fa', 'fa-' + page.icon]"></i>
                    <span>{{ ::page.name }}</span>
                </a>
            </li>

        </ul>
        <!-- # .nav -->

        <div class="actions">

            <a ng-if="(view.user | isEmpty)" ng-href="/auth/login" class="btn btn-primary btn-block log-in-btn">
                <i class="fa fa-github"></i>
                <span>Log In With GitHub</span>
            </a>

            <div ng-if="!(view.user | isEmpty)" class="user-details">
                <span class="welcome"><img ng-src="{{ ::view.user.avatar_url }}" width="30" alt=""/> <strong> {{ ::view.user.login }}</strong></span>
                <a ng-href="/auth/logout" uib-tooltip="Log out" tooltip-placement="right" class="fa fa-sign-out log-out-btn"></a>
            </div>

        </div>
        <!-- # .actions -->

    </div>
</div>