@import "../../../assets/sass/variables";

:host {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: $font-size-sm;
    height: 2em;
    line-height: $layout-stripe-width - 6;

    .sidebar-toggle {
        font-size: 1.3rem;
    }

    .status-item {
        flex: 1 1 0;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:first-child {
            text-align: left;
        }

        &:last-child {
            text-align: right;
        }

        .btn-group .btn {
            padding: 0 12px;
            line-height: $layout-stripe-width - 7;
        }
    }

    /deep/ .status-buttons {
        .btn {
            background: none;
            line-height: 2em;
            color: $layout-text-color;
            border: 1px solid transparent;
            border-left-color: #222;
            padding: 0 20px;
            border-radius: 0;

            &.active {
                background: $layout-title-bar-background;
            }

            &:active, &:focus {
                outline: none;
            }
        }
        i {
            margin-right: 2px;
        }
    }
}
