@import "../../../assets/sass/variables";

ct-clt-editor {
    overflow-y: auto;
    color: $text-dark;
    width: 100%;
    padding: 20px;
    display: block;

    .clt-editor-group {
        width: 60%;
    }
}
