@import "./../../../assets/sass/variables";
@import "./../../../assets/sass/mixins";

/** @name ErrorBarComponentStyle */
:host {
    .notification {
        display: flex;
        opacity: 1;
        height: $notification-bar-height;
        line-height: $notification-bar-height;
        transition: opacity .25s, height 0.25s;
        overflow: hidden;
        color: white;
        border-bottom: 1px solid $panel-bg;

        .error-text {
            flex: 1;
            @include ellipsis();
        }

        i {
            font-weight: bolder;
            font-size: 1rem;
            line-height: $notification-bar-height;
        }
    }

    .notification-error {
        background-color: $brand-danger;
    }

    .notification-warning {
        background-color: $brand-warning;
    }

    .notification-info {
        background-color: $btn-primary-bg;
    }
}

