@import "./../../../assets/sass/variables";
@import "./../../../assets/sass/mixins";

/** @name ErrorBarComponentStyle */
:host {
    .error-alert {
        display: flex;
        opacity: 0;
        height: 0;
        line-height: $notification-bar-height;
        color: $brand-danger-inverse-color;
        background-color: $brand-danger;
        transition: opacity .25s, height 0.25s;
        overflow: hidden;

        .error-text {
            flex: 1;
            @include ellipsis();
        }

        i {
            flex-basis: 30px;
            font-weight: bolder;
            font-size: 1rem;
            line-height: $notification-bar-height;
        }
    }

    .show {
        opacity: 1;
        height: $notification-bar-height;
    }
}

