:host {
    .stream {
        flex-grow: 1;
        width: 50%;
        max-width: 50%;
        margin-bottom: 1rem;
    }

    .stream:nth-child(even) {
        padding-left: 1rem;
    }

    .streams-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
