.file-picker {

  .breadcrumb {
    a {
      margin-right: 5px;
    }

    li.active {
      font-weight: bold;
    }
  }

  .select-file {
    @extend %ellipsis;
  }

  input[type="checkbox"] {
    margin: -1px 4px 0 0;
  }

  .table-container {
    min-height: 440px;
    margin-bottom: 10px;
  }

  thead th {
    overflow: hidden;
    white-space: nowrap;
  }

  tbody tr {
    cursor: pointer;

    td.select-file {
      max-width: 260px;
    }
  }
}

.file-picker-modal {
  .modal-dialog {
    width: $modal-xl;
  }
}

.selected-files {
  .dropdown-toggle {
    position: relative;
    .fa-file {
      margin-right: 3px;
    }
    .label {
      padding: .4em .6em;
    }
  }

  li {
    &:last-of-type {
      border-bottom: none;
    }
    border-bottom: 1px solid #d8d8d8;
    a {
      padding: 10px 15px;
    }
  }
}