$popover-placement: 13px;
$arrow-placement: $popover-placement - 6px;

.help-message {
  display: inline-block;
  position: relative;

  .help-button {
    font-size: 12px;
    position: relative;
    bottom: 5px;
    left: 3px;
    cursor: pointer;
  }

  .help-popup {

    &:before {
      content: '';
      border-top: 13px solid transparent;
      border-bottom: 13px solid transparent;
      top: $arrow-placement;
      position: absolute;
    }

    &:after {
      content: '';
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      position: absolute;
      top: $arrow-placement + 1;

    }

    &.right {
      left: 25px;

      &:before {
        border-right: 13px solid #bbb;
        left: -13px;
      }

      &:after {
        border-right: 12px solid white;
        left: -12px;
      }
    }

    &.left {
      right: 25px;

      &:before {
        border-left: 13px solid #bbb;
        right: -13px;
      }

      &:after {
        border-left: 12px solid white;
        right: -12px;
      }
    }

    position: absolute;
    top: - $popover-placement;
    z-index: 1060;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: $border-radius-large;
    @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));



    .help-container {
      font-weight: normal;
      padding: 0 15px;

      .markdown-body {
        margin-bottom: 10px;
        margin-top: 10px;
        height: auto;
      }
    }
  }
}
