/** anything related to styling modals **/

.modal-node {
  li .checkbox {
    margin: 0;
  }

  .form-group {
    margin-bottom: 0;
    &.format {
      margin-bottom: 15px;
      .markdown-body {
        padding: 15px;
        border-top: 1px solid #eee;
      }
    }
  }
}

.input-connections {
  float: left;
  margin-top: 5px;

  ul {
    padding-left: 15px;

    .connection {
      padding-bottom: 3px;
      cursor: pointer;
    }
  }
}

/* Modal override */
.modal {

  &.modal-prop {
    .modal-dialog {
      .main-actions {
        text-align: right;
        margin-top: $modal-inner-padding;
        margin-bottom: (-$modal-inner-padding);
        margin-right:  (-$modal-inner-padding);
        margin-left:  (-$modal-inner-padding);
        border-top: 1px solid $modal-header-border-color;
        padding: $modal-inner-padding;
      }
    }
  }

  &.modal-markdown {
    textarea {
      height: 300px;
    }
    .markdown-body {
      height: 300px;
      overflow: auto;
      padding: 10px;
      border: 1px solid #eee;
    }
  }

  .actions {
    .btn {
      margin-left: 10px;
    }
  }

  // hack for edit expression modal to be less jerky
  // it sets editor-like style to background before editor loads
  .codemirror-editor {
    min-height: 300px;
    background-color: #2C2C2C;
    margin-bottom: 10px;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 300px;
      width: 28px;
      background-color: #4e4e4e;
    }

    .CodeMirror {
      margin-bottom: 0;
    }
  }
}

/* Modal content override */
.modal-content {
  @include border-radius(0);
}

/* Modal header override */
.modal-header {
  .close {
    margin-top: 0;
  }
  .modal-title {
    .checkbox {
      font-size: 14px;
      margin-left: 30px;
      font-weight: normal;
    }
  }
}

/* Modal body override */
.modal-body {
  &.alert {
    margin: 0;
    .messages {
      margin-bottom: 20px;
    }
  }

  .tabs {
    overflow: hidden;
    margin-top: 10px;

    &.loading {
      @extend %loading-abs;
    }

    .nav.nav-tabs {
      .form-li {
        width: 300px;
        margin-right: 10px;
        float: right;
      }
    }

    .content {
      overflow-y: auto;
      min-height: 100px;
      max-height: 500px;
      @extend %scrollbar;
    }
  }
}

/* Modal footer override */
.modal-footer {
  & > .btn,
  & > .copy-btn {
    margin-left: 5px;
  }
}