<nav class="navbar navbar-fixed-top navbar-inverse ct-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-href="home">
                <div class="cottontail-logo"></div>Cottontail
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="main">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="main.ui">UI</a></li>
                <li ui-sref-active="active"><a ui-sref="main.editor">Editor</a></li>
                <li ui-sref-active="active"><a ui-sref="main.workspace">Workspace</a></li>
            </ul>
        </div>
    </div>
</nav>
