@import "../../../assets/sass/variables";

:host {
    display: block;
    height: 100%;
    font-family: monospace;
    background: $layout-section-terminal-background;
    overflow: auto;

    .output {
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    /deep/ .text-error {
        color: $brand-danger;
    }
}
