@import "../../../assets/sass/variables";


.flex-box {
  display: flex;
  height: 100%;
  margin: 0;
  width: 100%;

  .flex-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;

    &.hidden {
      flex: 0 !important;
    }

    &.workbox-col {
      overflow: hidden;
    }
  }

  .handle-vertical {
    background: $panel-resize-handle-color;
    cursor: col-resize;
    display: inline-block;
    width: $panel-resize-handle-width;

    &:before {
      content: '';
      display: block;
      position: relative;
      background-color: $main-header-bg;
      width: $panel-resize-handle-width;
      height: $main-header-height;
    }

    &.hidden {
      width: 1px;
    }

  }

}

.panel-switch-col {
  width: 26px;
  overflow: hidden;
}

.top-bar {
  height: $main-header-height;
  background: $main-header-bg;
}

.flex-row {
  display: flex;
}

.flex-row {
  display: flex;
}

.flex-row:not(.fixed) {
  flex: 1;
  overflow: hidden;
  //overflow-x: hidden;
  //overflow-y: auto;
}
