<div class="modal-header">
    <h4 class="modal-title">
        {{ data.label || data.name || data.softwareDescription.name }}
    </h4>
</div>

<div class="modal-body no-padding">
    <div class="col">
        <div class="heading no-padding">
            <ul class="nav nav-tabs nav-tabs-steps nav-borders">
                <li ng-class="{active: view.tab === 'info'}"><a href ng-click="switchTab('info')">Info</a></li>
                <li ng-class="{active: view.tab === 'inputs'}"><a href ng-click="switchTab('inputs')">Inputs</a></li>
                <li ng-class="{active: view.tab === 'change-id'}"><a href ng-click="switchTab('change-id')">Change ID</a></li>
                <!--<li ng-class="{active: view.tab === 'tags'}"><a href ng-click="switchTab('tags')">Tags</a></li>-->
            </ul>
        </div>

        <div class="tabs right flex-one modal-tabs" ng-switch="view.tab">
            <div class="tab" ng-switch-when="info">
                <p>
                    <strong>Type:</strong>
                    <span> {{ ::data['class'] }} </span>
                </p>
                <p>
                    <strong>Revision:</strong>
                    <span>{{ data['sbg:revision'] }}</span>
                </p>
                <p>
                    <strong>Latest Revision:</strong>
                    <span>{{ data['sbg:latestRevision'] }}</span>
                </p>
                <p>
                    <strong>Author:</strong>
                    <span> {{ ::data['sbg:createdBy'] }} </span>
                </p>
                <div>
                    <strong>Description{{ ::data.description.length ? '' : ':'}}</strong>
                    <div class="form-group" ng-class="{ 'format': data.description.length}">
                        <div class="markdown-body" markdown="data.description"></div>
                    </div>
                </div>
            </div>

            <div ng-switch-when="inputs">

                <form class="form">

                    <ul ng-repeat="input in view.inputs">
                        <li class="row">
                            <strong class="col-xs-8" ng-if="input.label && input.label !== ''">
                                {{ input.label }} ({{ ::input["id"] }})
                            </strong>
                            <strong class="col-xs-8" ng-if="!input.label || input.label === ''">
                                {{ ::input["id"] }}
                            </strong>
                            <div class="checkbox col-xs-4">
                                <label for="{{ ::input['id'] }}">
                                    <input id="{{ ::input['id'] }}" type="checkbox" ng-model="inputValues[input['id']]" ng-change="onScatterChange(input['id'], inputValues[input['id']])"/>
                                    Scatter
                                </label>
                            </div>
                            <div class="input-connections col-xs-12">
                                <ul ui-sortable="sortableOptions" ng-model="inputConnections[input['id']]">

                                    <li ng-repeat="connection in inputConnections[input['id']]" class="connection" data-input="{{ ::input['id'] }}">
                                        <div><i class="fa fa-bars"></i> Connection - src: {{ ::connection.start_node}}</div>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    </ul>

                </form>

            </div>

            <div ng-switch-when="outputs">

                <form class="form">

                    <ul ng-repeat="output in view.outputs">
                        <li class="row">
                            <strong class="col-xs-8" ng-if="output.label && output.label !== ''">
                                {{ output.label }} ({{ ::output["id"] }})
                            </strong>
                            <strong class="col-xs-8" ng-if="!output.label || output.label === ''">
                                {{ ::output["id"] }}
                            </strong>
                            <div class="output-connections col-xs-12">
                                <ul ui-sortable="sortableOptions" ng-model="outputConnections[output['id']]">

                                    <li ng-repeat="connection in outputConnections[output['id']]" class="connection" data-output="{{ ::output['id'] }}">
                                        <div><i class="fa fa-bars"></i> Connection - src: {{ ::connection.start_node}}</div>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    </ul>

                </form>

            </div>

            <div ng-switch-when="change-id">

                <form class="form">
                    <label for="step-id-input">Step's ID:</label>
                    <div>
                        <span>#</span>
                        <input id="node-id-input" type="text" ng-model="view.stepId" ng-change="onIdChange(view.stepId)" />
                        <button ng-disabled="!view.isIdChanged" ng-click="saveNewId(view.stepId)" class="btn btn-default" title="Check validity">
                            <i class="fa fa-check"></i>
                        </button>
                        <button ng-disabled="view.isIdOriginal" ng-click="resetId()" class="btn btn-default" title="Reset node ID to original value">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Close</button>
    <button class="btn btn-primary" ng-disabled="view.isIdChanged" ng-click="ok()">Save</button>
</div>