<div class="pipeline-inner flex-box-column flex-one">

    <button ng-if="view.canFlush" class="btn btn-flush btn-flush-pipeline" ng-click="flush()" uib-tooltip="Start with clean canvas" tooltip-placement="bottom">
        <i class="fa fa-eraser"></i>
    </button>

    <div class="pipeline-drop-area flex-box-column flex-one" ng-class="{loading: view.loading}">

        <div ng-show="view.explanation && view.canFlush" class="pipeline-user-guide">Drag apps from sidebar on the right to the drawing area</div>

        <div class="pipeline flex-one"></div>

        <div class="pipeline-actions">
            <button class="btn btn-default" ng-click="pipelineActions.zoomIn()" ng-disabled="view.disableZoomIn"><i class="fa fa-plus"></i></button>
            <button class="btn btn-default" ng-click="pipelineActions.zoomOut()" ng-disabled="view.disableZoomOut"><i class="fa fa-minus"></i></button>
        </div>
    </div>

</div>