<li ng-class="{open: (directory.isOpen || directory.allOpen)}">
    <span ng-click="directory.isOpen = !directory.isOpen">
        <i class="fa" ng-class="{'fa-plus-square': (!directory.isOpen && !directory.allOpen), 'fa-minus-square': (directory.isOpen || directory.allOpen)}"></i>
        {{ ::directory.name }}
    </span>

    <ul class="apps-inner-list nested-list">
        <repo-item ng-repeat="dir in directory.directories" directory="dir" filter="filter"></repo-item>

        <li ng-repeat="app in filteredApps = (directory.files | filter: filter)">

            <a href drag="app">
                <i class="fa"><span class="tool-icon" ng-class="::app.class"></span></i>
                <span> {{ ::app.name }} </span>
            </a>
        </li>

    </ul>

</li>
