@import "../../../assets/sass/variables";
@import "../../../assets/sass/_mixins";

:host {
    overflow-y: auto;
    overflow-x: hidden;

    .header {
        border: 1px solid transparent;
        border-bottom-color: $gui-section-border;
    }

    .form-section {
        position: relative;
        display: block;
        background: $gui-section-bg;
        margin-bottom: 20px;

        .borderless & {
            border: none;
            padding: 0;
        }

        .hide-button {
            position: absolute;
            top: $padding-md;
            right: $padding-md;
        }

        .add-btn-link {
            padding: 0;
            margin-top: 10px;
        }
    }

    .gui-section-list-title {
        font-family: $font-family-title;
        font-size: $font-size-sm;
        font-weight: 400;
        text-transform: uppercase;
    }

    .gui-section-header {
        font-family: $font-family-title;
        color: $gui-section-header-color;
        margin: 0;
        font-size: $font-size-base;
        font-weight: 400;
        text-transform: uppercase;

        .tc-header {
            @include ellipsis();
        }
    }

    .gui-section-body {
        height: 0;

        hr { //element selector because that's how bootstrap styles it
            margin-left: - $grid-gutter-width-base/2;
            margin-right: - $grid-gutter-width-base/2;
        }

        &.show {
            padding-top: $gui-section-padding;
            height: auto;
        }
    }
}
