@import "../../../assets/sass/variables";

:host {
    position: static;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid transparent;
    border-left-color: $gui-section-border;
}
