@import "../../../assets/sass/variables";

:host {
    position: static;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    //border: 1px solid transparent;
    background: $toolbar-header-bg;
    //border-left-color: $gui-section-border;
}
