@import "../../../assets/sass/_variables.scss";

ct-panel-container {
  display: flex;
  flex-direction: column;
  background: $panel-bg;
  color: $panel-item-color;

  .panel {
    display: flex;
    flex: 1;
    overflow:hidden;

    &.hidden {
      flex: 0 !important;
      display: none;
    }
  }

  ct-panel-handle {
    cursor: row-resize;
    display: block;
    height: 4px;
    background: $panel-resize-handle-color;
    width: 100%;

    &.hidden {
      height: 0;
    }
  }

}

ct-panel-toolbar {
  display: flex;
  box-sizing: content-box;
  background: $panel-header-bg;
  color: $panel-header-color;
  font-size: $font-size-sm;
  padding: 4px 8px;
  justify-content: space-between;
  flex-direction: row;

  .title, .tools {
    display: flex;
  }

  & + ct-tree-view {
    height: calc(100% - 28px); // Bound to the ct-panel-toolbar padding/height
  }
}
