:host {

    display: block;
    flex: 1;

    background: repeating-linear-gradient(
            -45deg,
            rgb(48, 48, 48),
            rgb(48, 48, 48) 10px,
            rgb(51, 51, 51) 10px,
            rgb(51, 51, 51) 20px
    );

    /deep/ {
        @import "../../../assets/sass/variables";
        @import "~cwl-svg/src/assets/styles/variables";
        @import "~cwl-svg/src/assets/styles/style";
        @import "~cwl-svg/src/plugins/port-drag/port-drag";
        @import "~cwl-svg/src/plugins/validate/validate";
        @import "~cwl-svg/src/plugins/selection/selection";
        @import "../../workflow-editor/svg-plugins/job-file-drop/job-file-drop";
    }

    .cwl-workflow {
        fill: transparent;
    }
}
