:host {

    display: block;
    flex: 1;

    background: repeating-linear-gradient(
            -45deg,
            rgb(48, 48, 48),
            rgb(48, 48, 48) 10px,
            rgb(51, 51, 51) 10px,
            rgb(51, 51, 51) 20px
    );

    /deep/ {
        @import "../../../assets/sass/variables";
        @import "~cwl-svg/src/plugins/port-drag/theme.dark";
        @import "~cwl-svg/src/plugins/validate/validate";
        @import "~cwl-svg/src/plugins/selection/theme.dark";
        @import "../../workflow-editor/svg-plugins/job-file-drop/job-file-drop";
        @import "../../workflow-editor/svg-plugins/required-input-markup/required-input-markup";
    }

    .cwl-workflow {
        fill: transparent;
    }
}
