@import "../../../../assets/sass/variables";

ct-command-line-preview {
    display: block;
    height: 100%;
    font-family: monospace;
    padding: 10px;
    background: $layout-section-terminal-background
}
