<ct-action-bar>

    <ct-tab-selector [distribute]="'auto'" [active]="viewMode" (activeChange)="switchTab($event)">
        <ct-tab-selector-entry tabName="auth">Authentication</ct-tab-selector-entry>
        <ct-tab-selector-entry tabName="keyBindings">Key Bindings</ct-tab-selector-entry>
        <ct-tab-selector-entry tabName="cache">Cache</ct-tab-selector-entry>
    </ct-tab-selector>

    <div class="document-controls pr-1">

        <!--Add Another-->
        <button (click)="addEntry()"
                class="btn btn-sm btn-secondary text-inherit"
                type="button"> Add an Account
        </button>

        <!--Save-->
        <button (click)="onSubmit()"
                class="btn btn-sm btn-secondary text-inherit"
                type="button"> Apply Changes
        </button>

    </div>

</ct-action-bar>
<ct-line-loader *ngIf="auth.authenticationProgress | async"></ct-line-loader>

<form class="p-2 auth-form" (ngSubmit)="onSubmit()" [formGroup]="form">

    <div class="row">
        <label class="strong col-xs-5">Seven Bridges Platform URL</label>
        <label class="strong col-xs-6">Developer Token</label>
    </div>

    <div *ngFor="let pair of form.get('pairs').controls; let i = index;" class="row" [class.has-success]="pair.valid">

        <div class="form-group col-xs-5" [class.has-danger]="pair.dirty && pair.get('url').invalid">

            <input class="form-control" [formControl]="pair.get('url')" (blur)="expandPlatformUrl(pair.controls.url)"/>

            <div class="form-control-feedback" *ngIf="pair.dirty && pair.get('url').errors?.pattern">
                Invalid Platform Name. Try with <i>“https://igor.sbgenomics.com”</i>.
            </div>
        </div>

        <div class="form-group col-xs-6" [class.has-danger]="pair.dirty && pair.get('token').invalid">
            <input class="form-control" [formControl]="pair.controls.token"/>

            <div class="form-control-feedback" *ngIf="pair.dirty && pair.get('token').errors?.length">
                The Authentication Key must be 32 characters long.
            </div>
        </div>
        <div class="col-xs-1 form-control-static clickable" (click)="removeIndex(i)">
            <i class="fa fa-trash"></i>
        </div>
    </div>


    <!--<div *ngIf="form?.errors?.invalidKey" class="alert alert-warning">-->
    <!--<strong>Warning!</strong> This authentication key is not valid on the given platform.-->
    <!--</div>-->
    <!--<div *ngIf="form?.errors?.invalidPlatform" class="alert alert-danger">-->
    <!--<strong>Danger!</strong> Given platform does not exist.-->
    <!--</div>-->

</form>

