@import "../../../assets/sass/variables";

:host {
    display: block;
    background: #373a3c;
    color: $layout-text-color;

    ct-line-loader {
        height: auto;
        margin-top: -2px;
        /deep/ ct-progress {
            height: 1px;
        }
    }

}
