<div class="form-group"
     ng-class="{required: view.required, 'has-error': view.required && view.model.length === 0 && !isDisabled}">

    <div class="control-label">
        <div ng-if="exposed" class="icons">
            <label uib-tooltip="Expose" tooltip-placement="left">
                <input type="checkbox" ng-model="view.expose" ng-change="exposeParams()">
                <i class="fa" ng-class="{'fa-unlock-alt': view.expose, 'fa-lock': !view.expose}"></i>
            </label>
        </div>

        <span class="input-key" title="{{ ::view.name }}">
            <span class="input-key-inner">{{ ::view.name }}</span>
        </span>
    </div>

    <div class="input-property-body">
        <key-value-map
                empty-list-label="Click the plus button to add a key-value pair to {{ ::view.name }}."
                list="view.model"
                ng-disabled="isDisabled">
        </key-value-map>
    </div>

</div>