<div class="form-group" ng-class="{required: view.required, 'has-error': (inputForm.inputString.$invalid && !isDisabled)}">

    <div class="control-label">

        <ng-include src="'views/cliche/inputs/input-icon-box.html'"></ng-include>

        <span class="input-key" title="{{ ::view.name }}">{{ ::view.name }}</span>
    </div>

    <div class="input-property-body">

        <input type="text" class="form-control" name="inputString" ng-model="view.model" ng-required="view.required" ng-disabled="isDisabled">

        <span ng-if="inputForm.inputString.$invalid && !isDisabled" class="help-block">Please provide correct value</span>
    </div>
</div>