@import "../../../assets/sass/variables";
@import "~bootstrap/scss/mixins";

action-panel {
    background-color: $color-gray-base;
    color: $label-color;
    display: block;
    font-family: "Montserrat", sans-serif;
    height: $action-bar-height;
    margin-bottom: 2px;
}

