@import "../../../../assets/sass/variables";

.ct-radio-button {
    display: inline-block;
    padding: 10px;
    text-align: center;

    .name {
        font-family: $font-family-title;
        font-size: $font-size-xs;
        font-weight: bold;
        margin-top: 10px;
        text-transform: uppercase;
    }
}
