@import "../../../../assets/sass/variables";

expression-editor {
    height: 100%;
}

.expression-editor-component {
    background: $expression-editor-bg;
    color: $expression-editor-color;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;

    .help-icon {
        color: $expression-editor-help-icon-color;
    }

    .expression-editor-header {
        flex-basis: 40px;
        width: 100%;
        padding: $padding-md;
        border-bottom: 1px solid $expression-editor-border;
    }

    .ace-editor {
        display: block;
        flex-grow: 1;
        width: 100%;
    }

    .expression-result-container {
        flex-basis: $expression-editor-result-height;
        position: relative;
        border-top: 1px solid $expression-editor-border;
        padding: $padding-md;

        .expression-result-overlay {
            display: table;
            position: absolute; // because it's an overlay, must go above result
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, .5);

            .execute-button-container {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }
        }

        .code-preview {
            z-index: 2;
            position: absolute; // except for the code preview label, should be above the overlay
            color: $expression-editor-text-muted;
            font-size: $font-size-sm;
        }

        .expression-result-value {
            width: 100%;
            min-height: 88px; // magical number that doesn't make results jump
            color: $expression-editor-color;
            margin-top: 17px; // so results stay under the code preview label

            &.has-error {
                color: $expression-editor-error-color;
            }

            &.has-warning {
                color: $expression-editor-warning-color;
            }
        }

    }
}

.expression-buttons-container {
    float: right;
}