<ng-container *ngIf="inputGroups.length; else noInputs">
    <div *ngFor="let group of inputGroups">

        <ct-form-panel class="borderless">

            <div class="tc-header">{{ group.name }}</div>

            <div class="tc-body">

                <form (change)="onInputsFormChange($event)" [formGroup]="jobGroup">

                    <div *ngFor="let input of group.inputs" class="input-box">

                        <!--Label and port options-->
                        <div class="input-title flex-baseline">

                            <label class="input-label" title="{{ input.label || input.id }}">

                                <span *ngIf="!input.type.isNullable" class="text-danger">*</span>

                                <i class="fa fa-info-circle text-muted"
                                   *ngIf="input.description"
                                   [ct-tooltip]="ctt"
                                   tooltipPlacement="top">
                                </i>

                                {{ input.label || input.id }}

                                <span class="text-muted">({{input.type.type}})</span>

                            </label>

                            <div>
                                <ct-generic-dropdown-menu [ct-menu]="menu" menuAlign="left" #portChangeDropDown>
                                    <button type="button" class="btn btn-unstyled"
                                            (click)="portChangeDropDown.toggleMenu()">
                                        <i class="fa fa-fw fa-ellipsis-h"></i>
                                    </button>
                                </ct-generic-dropdown-menu>

                                <ng-template #menu class="mr-1">
                                    <ul class="list-unstyled" (click)="portChangeDropDown.hide()">
                                        <li (click)="clear(jobGroup.get(input.id))">
                                            Set values to null
                                        </li>
                                    </ul>
                                </ng-template>

                            </div>

                        </div>

                        <!--Input-->
                        <ct-job-step-inspector-entry *ngIf="jobGroup.get(input.id).enabled"
                                                     [formControl]="jobGroup.get(input.id)"
                                                     [inputType]="input.type.type"
                                                     [inputArrayItemsType]="input.type.items"
                                                     [inputEnumSymbols]="input.type.symbols"
                                                     [inputRecordFields]="input.type.fields"
                                                     class="mb-0">
                        </ct-job-step-inspector-entry>

                        <div *ngIf="jobGroup.get(input.id).disabled" class="text-xl-center mb-1">
                            <p class="text-muted">No values have been specified for this input</p>
                            <button class="btn btn-primary" type="button" (click)="enableEditing(input)">
                                {{ isFileOrDirectory(input) ? "Browse" : "Set Value" }}
                            </button>
                        </div>

                        <!--Connections-->
                        <!--Only steps have sources, inputs and outputs don't-->
                        <div *ngIf="input.source">

                            <!--No connections-->
                            <div *ngIf="input.source.length === 0 && input.isVisible">

                                <span class="text-warning" *ngIf="input.type.isNullable">
                                    <i class="fa fa-warning fa-fw"></i> This port is not connected
                                </span>

                                <span class="text-danger" *ngIf="!input.type.isNullable">
                                    <i class="fa fa-times-circle fa-fw"></i> This required port is not connected
                                </span>

                            </div>

                            <!--List of connections-->
                            <div *ngIf="input.source.length > 0" class="text-muted">
                                Connections: {{ input.source.join(", ") }}
                            </div>

                        </div>

                        <!--Tooltip-->
                        <ct-tooltip-content [maxWidth]="500" #ctt>

                            <h4>{{input.label || input.id}}</h4>

                            <!--Description-->
                            <div>
                                <span class="title">Description:</span>
                                <span class="value">{{ input.description }}</span>
                            </div>

                        </ct-tooltip-content>

                    </div>
                </form>
            </div>
        </ct-form-panel>
    </div>
</ng-container>

<ng-template #noInputs>
    No app parameters are exposed for this app.
</ng-template>
