@import "../../../../assets/sass/variables";

:host {
    font-family: monospace;
    padding: 10px;
    display: block;
    height: 100%;
    overflow: auto;
    background: $layout-section-terminal-background;

    p {
        margin: 0;
    }

    .text-console-warning {
        color: $code-warning;
    }

    .text-console-error {
        color: $code-error;
    }
}
