<div class="content content-tbl">
    <table class="table table-hover apps">
        <thead>
            <tr>
                <th>Name</th>
                <th>Repo</th>
                <th>Author</th>
                <th class="right">
                    <a href
                       class="btn btn-default btn-toggle"
                       uib-tooltip="Toggle Versions"
                       tooltip-placement="left"
                       ng-click="toggleRevisions('tools')">
                        <i class="fa" ng-class="{'fa-chevron-right': !view.active.tools, 'fa-chevron-down': view.active.tools}"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="tool in view.tools">
                <td><a ui-sref="tool({id: tool._id, tab: 'preview'})" ng-click="change($event, tool)">{{ ::tool.name }}</a></td>
                <td><a ui-sref="repo({id: tool.repo._id})">{{ ::tool.repo.owner }}/{{ ::tool.repo.name }}</a></td>
                <td><p uib-tooltip="{{ ::tool.author }}">{{ ::tool.author }}</p></td>
                <td class="right">
                    <a class="btn btn-default" uib-tooltip="Edit Tool" ui-sref="cliche-edit({type: 'tool', id: tool._id, revision: 'latest'})"><i class="fa fa-pencil"></i></a>
                    <a href
                       class="btn btn-default btn-toggle"
                       uib-tooltip="Toggle Versions ({{ ::tool.revisions.length }})"
                       tooltip-placement="left"
                       ng-click="toggleRevisions('tools', tool)">
                        {{ ::tool.revisions.length }} <i class="fa" ng-class="{'fa-chevron-right': !tool.active, 'fa-chevron-down': tool.active}"></i>
                    </a>
                </td>
            </tr>
            <tr class="inner-table" ng-class="{active: tool.active}" ng-repeat-end>
                <td colspan="4">
                    <div class="inner-table-body">
                        <table class="table table-hover app-revisions">
                            <thead>
                            <tr>
                                <th>Versions</th>
                                <th>Description</th>
                                <th class="right">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="revision in ::tool.revisions">
                                <td><a ui-sref="tool-revision({id: revision._id})" class="version"><strong><i class="fa fa-tag"></i> v{{ ::revision.version }}</strong></a></td>
                                <td>
                                    <p ng-if="revision.description" uib-tooltip="{{ ::revision.description }}" tooltip-popup-delay="1000">{{ ::revision.description }}</p>
                                    <i ng-if="!revision.description">No description</i>
                                </td>
                                <td class="right">
                                    <a class="btn btn-sm btn-default" uib-tooltip="Edit Revision" ui-sref="cliche-edit({type: 'tool', id: tool._id, revision: revision._id})"><i class="fa fa-pencil"></i></a>
                                </td>
                            </tr>
                            <tr class="empty" ng-if="tool.revisions.length === 0">
                                <td colspan="4"><p class="alert alert-info">There are no public versions for this tool</p></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="empty" ng-if="view.tools.length === 0">
                <td colspan="4"><p class="alert alert-info">There are no tools found</p></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- # .content-->

<paginator class="paginator" page="view.page.tools" total="view.total.tools" handler="getMoreTools(offset)"></paginator>