<div class="content content-tbl">
    <table class="table table-hover apps">
        <thead>
            <tr>
                <th>Name</th>
                <th>Repo</th>
                <th>Author</th>
                <th class="right">
                    <a href
                       class="btn btn-default btn-toggle"
                       uib-tooltip="Toggle Versions"
                       tooltip-placement="left"
                       ng-click="toggleRevisions('workflows')">
                        <i class="fa" ng-class="{'fa-chevron-right': !view.active.workflows, 'fa-chevron-down': view.active.workflows}"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="workflow in view.workflows">
                <td><a ui-sref="workflow-view({id: workflow.latest._id})">{{ ::workflow.name }}</a></td>
                <td><p uib-tooltip="{{ ::workflow.repo.name }}" tooltip-popup-delay="1000"><a ui-sref="repo({id: workflow.repo._id})">{{ ::workflow.repo.owner}}/{{ workflow.repo.name }}</a></p></td>
                <td><p uib-tooltip="{{ ::workflow.author }}" tooltip-popup-delay="1000">{{ ::workflow.author }}</p></td>
                <td class="right">
                    <a class="btn btn-default" uib-tooltip="Edit Workflow" ui-sref="workflow-editor({id: workflow.latest._id, mode: 'edit'})"><i class="fa fa-pencil"></i></a>
                    <a href
                       class="btn btn-default btn-toggle"
                       uib-tooltip="Toggle Versions ({{ ::workflow.revisions.length }})"
                       tooltip-placement="left"
                       ng-click="toggleRevisions('workflows', workflow)">
                        {{ ::workflow.revisions.length }} <i class="fa" ng-class="{'fa-chevron-right': !workflow.active, 'fa-chevron-down': workflow.active}"></i>
                    </a>
                </td>
            </tr>
            <tr class="inner-table" ng-class="{active: workflow.active}" ng-repeat-end>
                <td colspan="4">
                    <div class="inner-table-body">
                        <table class="table table-hover pipeline-revisions">
                            <thead>
                            <tr>
                                <th>Versions</th>
                                <th>Description</th>
                                <th class="right">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="revision in ::workflow.revisions">
                                <td><a ui-sref="workflow-view({id: revision._id})" class="version"><strong><i class="fa fa-tag"></i> v{{ ::revision.version }}</strong></a></td>
                                <td>
                                    <p ng-if="revision.description" uib-tooltip="{{ ::revision.description }}" tooltip-popup-delay="1000">{{ ::revision.description }}</p>
                                    <i ng-if="!revision.description">No description</i>
                                </td>
                                <td class="right">
                                    <a class="btn btn-sm btn-default" uib-tooltip="Edit Revision" ui-sref="workflow-editor({id: revision._id, mode: 'edit'})"><i class="fa fa-pencil"></i></a>
                                </td>
                            </tr>
                            <tr class="empty" ng-if="workflow.revisions.length === 0">
                                <td colspan="4"><p class="alert alert-info">There are no public versions for this workflow</p></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="empty" ng-if="view.workflows.length === 0">
                <td colspan="4"><p class="alert alert-info">There are no workflows found</p></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- # .content -->

<paginator class="paginator" page="view.page.workflows" total="view.total.workflows" handler="getMoreWorkflows(offset)"></paginator>