@import "../../../../assets/sass/variables";

.remove-tag-icon {
    cursor: pointer;
}

.compact-list-wrapper {
    border: 1px solid $input-border-color;
    background: $input-bg;
    padding: 5px;
    border-radius: $border-radius;
    overflow: hidden;
}

.input-tag-list {
    display: block;
    min-height: 20px;

    .tag-pill {
        padding: 5px;
        float: left;
        font-size: 0.9rem;
        font-weight: 100;
        margin: 3px;
        border-radius: 2px;

        .icon-wrapper {
            background: $input-bg;
            display: inline-block;
            border-radius: 6px;
            text-align: center;
            vertical-align: center;
        }

        .error {
            color: $brand-danger;
            display: inline;
        }

        .warning {
            color: $brand-warning;
            display: inline;
        }
    }
}

.tag-input {
    border: 0;
    float: left;
    display: block;
    margin: 3px;
    cursor: text;
    padding: 0 3px 0 3px;

    &:focus {
        outline: none;
    }

    &.invalid-input {
        border: 2px solid $brand-danger;
    }
}

.input-error-icon {
    color: $brand-danger;
    display: inline;
}

.tooltip-text {
    margin-left: 9px;
    visibility: hidden;
    //background-color: $background-grey;
    border-radius: 4px;
    //border: 1px solid $border-color;
    position: absolute;
    z-index: 1;
    padding: 5px;
    margin-top: -15px;
    opacity: 0;
}

.tooltip-wrapper {
    float: left;
}

.tooltip-wrapper:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
