ct-tooltip-content {

    display: inline-block;
    position: fixed;
    z-index: 100;

    //Bootstrap class override
    .tooltip {
        position: fixed;
    }

    .tooltip-inner {
        box-sizing: content-box;
        padding: 2px;
        background-color: rgba(0, 0, 0, .8);

        .tooltip-inner-plaintext {
            padding: 4px 8px;
            display: inline-block;
        }

        &::before {
            border: none;
        }
    }

    .tooltip-info {
        display: block;
        max-width: 300px;
    }
}

