@import "../../../../assets/sass/variables";

$switch-height: 15px;
$switch-width: 34px;

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: $switch-width;
    height: $switch-height;
    margin: 0;
    vertical-align: text-top;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $toggle-bg;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(#{$switch-height} - 2px);
    width: calc(#{$switch-height} - 2px);
    left: 2px;
    bottom: 1px;
    background-color: $background-light;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: $brand-primary;
}

input:focus + .slider {
    box-shadow: 0 0 1px $brand-primary;
}

input:checked + .slider:before {
    -webkit-transform: translateX( calc(#{$switch-width} / 2) );
    -ms-transform: translateX( calc(#{$switch-width} / 2) );
    transform: translateX( calc(#{$switch-width} / 2) );
}

/* Rounded sliders */
.slider.round {
    border-radius: calc(#{$switch-width} / 2);
}

.slider.round:before {
    border-radius: 50%;
}
