@import '../../../assets/sass/variables';
@import '../../../assets/sass/mixins';


.modal {
    color: $modal-content-color;
    position: fixed;
    border-radius: $border-radius;
    background-color: $modal-content-bg;
    left:50%;
    top:35%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal-background {
    position:fixed;
    background-color: rgba(0,0,0,0.5);
    left:0;
    top:0;
    width:100%;
    height:100%;

    z-index:998;
}

.modal-title {
    display:inline-block;
}

.modal-icon {
    height:25px;
    width:25px;
    margin-right:1px;
    position:relative;
    top:5px;
}

.modal-message {
    overflow:hidden;
    height:calc(100% - 95px);
}

.modal-buttonbar {
    margin-top:15px;
    position:absolute;
    right:20px;
    bottom:24px;
}

.modal-buttonbar button {
    margin-left:6px;
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
    padding: $modal-title-padding;
    border-bottom: 1px solid $modal-header-border-color;
    @include clearfix;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
    position: relative;
    padding: $modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
    padding: $modal-inner-padding;
    text-align: right; // right align buttons
    border-top: 1px solid $modal-footer-border-color;
    @include clearfix(); // clear it in case folks use .pull-* classes on buttons

    // Properly space out buttons
    .btn + .btn {
        margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
        margin-left: 5px;
    }
    // but override that for button groups
    .btn-group .btn + .btn {
        margin-left: -1px;
    }
    // and override it for block buttons as well
    .btn-block + .btn-block {
        margin-left: 0;
    }
}


// Scale up the modal
@include media-breakpoint-up(sm) {
    // Automatically set modal's width for larger viewports
    .modal-dialog {
        width: $modal-md;
    }
    .modal-content {
        @include box-shadow(0 5px 15px rgba(0,0,0,.5));
    }

    // Modal sizes
    .modal-sm { width: $modal-sm; }
}

@include media-breakpoint-up(md) {
    .modal-lg { width: $modal-lg; }
}