.ct-checkbox {
  &.has-error label {
    color: darken($brand-danger, 5);
  }

  &.has-success label {
    color: darken($brand-success, 5);
  }

  &.has-warning label {
    color: darken($brand-warning, 12);
  }

}