.flex-box-column {
  @include flex-box();
  @include flex-direction(column);
}

.flex-box-row {
  @include flex-box();
  @include flex-direction(row);
}

.flex-auto {
  @include flex(0 0 auto);
}

.flex-one {
  @include flex(1);
}

.flex-one-height {
  @include flex(1 1 0);
}

%trace-box {
  position: absolute;
  padding: 20px 30px;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -50px;
  color: $orange;
  border: 1px solid $orange;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

%guide-box {
  font-size: 18px;
  padding: 20px;
  background: #f3f3f3;
  color: #999;
  text-align: center;
  border: 1px solid #ddd;
  @include box-sizing();
  @include border-radius(5px);
}

%scrollbar {
  @include scrollbar($orange);
}

%scrollbar-blue {
  @include scrollbar($blue);
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}