/* GENERAL ERROR
================================================ */

.general-error {
  $width: 400px;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 50%;
  width: $width;
  margin-left: -($width/2);
  @include border-radius(0 0 4px 4px);
  @include box-shadow(0 0 7px 0px #aaa);

  display: none;
  &.show {
    display: block;
  }

  p {
    text-align: center;
    padding: 0px 7px;
    margin: 0 0 10px 0;
  }

  .close {
    position: absolute;
    top: 0px;
    right: 6px;
  }

  .pre {
    pre {
      max-height: 400px;
      overflow-y: auto;
      @extend %scrollbar;
    }
  }
}