/* LOADER
================================================ */
.loading {
  &:after {
    content: '';
    z-index: 3;
    display: block;
    background: url('../images/loader.gif') no-repeat center;
    width: 100%;
    height: 200px;
  }
}

%loading-abs {
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.7);
  }
}