/* SIDEBAR
================================================ */

%opacity-anim {
  opacity: 1;
  @include transition(opacity 0.5s ease);
}

%opacity-hide {
  opacity: 0;
  width: 0;
  display: inline-block;
}

.sidebar {
  background-color: $sidebar-blue;
  @extend .flex-auto;

  .sidebar-inner {
    overflow: hidden;
    width: $sidebar;
    float: left;
    color: #fff;
    @include transition(width 0.2s ease);

    /* when sidebar is closed */
    &.closed {
      width: $sidebar - 140px;

      .logo-wrap {
        .logo {
          opacity: 0;
        }
        .toggle-sidebar {
          text-align: center;
        }
      }

      .actions {
        .welcome {
          strong {
            @extend %opacity-hide;
          }
        }
      }

      .log-in-btn {
        span {
          @extend %opacity-hide;
        }
      }

      .nav-tabs {
        li {
          a {
            span {
              @extend %opacity-hide;
            }
          }
        }
      }

    }

    /* logo and sidebar toggle */
    .logo-wrap {
      position: relative;
      height: 60px;

      .logo,
      .toggle-sidebar {
        font-size: 25px;
        line-height: 60px;
      }

      .logo {
        position: relative;
        padding: 0 0 0 50px;
        color: #fff;
        text-decoration: none;
        text-shadow: 2px 2px 2px $dark-blue;
        float: left;

        background: {
          image: url('../images/logo.png');
          repeat: no-repeat;
          position: left 15px center;
        }

        @include background-size(20px 28px);

        @extend %opacity-anim;

        small {
          font-size: 10px;
          line-height: 10px;
          display: block;
          color: #f3f3f3;
          position: absolute;
          right: 0;
          bottom: 6px;
          text-shadow: none;
        }

      }

      .toggle-sidebar {
        display: inline-block;
        color: #fff;
        padding: 0px 19px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        background-color: $sidebar-blue;
      }
    }

    /* user actions like login and logout */
    .actions {
      background-color: lighten($sidebar-blue, 10%);
      margin-top: 40px;
      white-space: nowrap;
      position: relative;

      .welcome,
      .log-out-btn {
        display: inline-block;
        vertical-align: middle;
      }
      .welcome {
        font-size: 14px;
        line-height: 28px;
        text-shadow: 1px 1px 1px $dark-blue;

        strong {
          @extend %opacity-anim;
        }

        img {
          margin: 0 1px;
        }
      }

      .log-out-btn {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        margin: 0 5px 0 0;
        text-shadow: 1px 1px 1px $dark-blue;
        float: right;
        line-height: 30px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        background-color: lighten($sidebar-blue, 10%);

        &:hover {
          color: #f3f3f3;
          text-decoration: none;
        }
      }

      .log-in-btn {
        text-align: left;
        i {
          font-size: 20px;
          float: left;
          margin: 0 10px 0 20px;
        }
        span {
          @extend %opacity-anim;
        }
      }
    }

    .nav-tabs {
      border-bottom: none;

      li {
        margin-bottom: 0;
        a {
          white-space: nowrap;
          font-size: 16px;
          margin-right: 0px;
          text-shadow: 1px 1px 1px $dark-blue;
          color: $orange;
          padding: 15px;
          border-bottom: 1px solid lighten($sidebar-blue, 10%);

          &:focus, &:hover {
            text-shadow: 1px 1px 1px #fff;
            color: darken($orange, 20%);
            i {
              color: darken($orange, 20%);
            }
          }

          &.dyole,
          &.cliche {
            span {
              text-transform: none;
            }
          }

          span {
            text-transform: capitalize;
            @extend %opacity-anim;
          }

          i {
            color: #fff;
            width: 25px;
            margin-right: 10px;
            font-size: 20px;
            text-align: center;
          }

        }
        & + li {
          margin-top: 0px;
        }

        &:first-child {
          a {
            border-top: 1px solid lighten($sidebar-blue, 10%);
          }
        }

        &.active {
          a, a:hover, a:focus {
            text-shadow: 1px 1px 1px #fff;
            border-bottom: 1px solid lighten($sidebar-blue, 10%);
            span, i {
              color: #555;
            }
          }
        }
      }
    }
  }
}