.table {
  margin: 0;
  td {
    vertical-align: middle;
    p {
      margin: 0;
      &:not(.alert) {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        float: left;
      }
      &.alert {
        padding: 15px;
      }
    }
    a {
      &:not(.btn) {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        white-space: nowrap;
        i {
          color: #555;
        }
      }
    }
    &.revision {
      text-align: center;
    }
    .github-flag {
      font-size: 20px;
    }
  }

  .status {
    width: 20px;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    padding: 0;
    @include border-radius(7.5px);

    &.success {
      color: $green;
    }
    &.running {
      color: $blue;
      @include animation(rotate 1.2s infinite linear);
    }
    &.failure {
      color: $red;
    }
    &.pending {
      color: $orange;
    }
  }

  /* Apps table */
  &.apps {
    th {
      &:nth-child(1),
      &:nth-child(2) { width: 15%; }
      &:nth-child(3) { width: 50%; }
      &:nth-child(4) { width: 20%; }
    }
    td {
      p {
        &:not(.alert) {
          max-width: 500px;
        }
      }
    }
  }

  &.app-revisions,
  &.pipeline-revisions {
    th {
      &:nth-child(1),
      &:nth-child(2) { width: 15%; }
      &:nth-child(3) { width: 50%; }
    }
  }

  /* Revisions table */
  &.revisions {
    th {
      &:nth-child(1) {
        text-align: center;
        width: 10%;
      }
      &:nth-child(2) { width: 50%; }
      &:nth-child(3) { width: 40%; }
    }
    td {
      p {
        &:not(.alert) {
          max-width: 500px;
        }
      }
    }
    &.revisions-short {
      th {
        &:nth-child(2) {
          width: 40%;
          text-align: left;
        }
      }
    }
  }

  /* Builds table */
  &.builds {
    th {
      &.field-status,
      &.field-id { width: 5%; }
      &.field-message { width: 30%; }
      &.field-commit,
      &.field-committer,
      &.field-repo,
      &.field-date { width: 15%; }
    }
    td {
      p {
        &:not(.alert) {
          max-width: 500px;
        }
      }
      &.field-commit {
        a {
          width: 100px;
        }
      }
      &.field-id {
        a {
          width: 50px;
        }
      }
    }
  }
  /* Repos table */
  &.repos {
    th {
      &:nth-child(1) { width: 20%; }
      &:nth-child(2) { width: 20%; }
      &:nth-child(3) { width: 40%; }
      &:nth-child(4) { width: 10%; }
    }
    td {
      p {
        &:not(.alert) {
          max-width: 500px;
        }
      }
    }
  }

  /* GitHub Repos table */
  &.github-repos {
    th {
      &:nth-child(1) { width: 80%; }
      &:nth-child(2) { width: 20%; }
    }
  }

  /* Jobs table */
  &.jobs {
    th {
      &:nth-child(1) { width: 15%; }
      &:nth-child(2) { width: 15%; }
      &:nth-child(3) { width: 15%; }
      &:nth-child(4) { width: 15%; }
      &:nth-child(5) { width: 30%; }
      &:nth-child(6) { width: 10%; }
    }
    td {
      .job-link {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
        white-space: nowrap;
      }
    }
  }

  &.repo-apps {
    th {
      &:nth-child(1) { width: 30%; }
      &:nth-child(2) { width: 70%; }
    }
  }

  .inner-table {

    .inner-table-body {
      display: none;
    }

    &.active {
      .inner-table-body {
        display: block;
      }
      & > td {
        border-top: 1px solid #ddd;
      }
    }

    &:hover {
      background-image: none;
    }
    &:last-child {
      border-bottom: 1px solid #ddd;
    }
    & > td {
      padding: 0 0 0 30px;
      background-image: url(../images/bg.png);
      border-top: none;
      .table {
        border-left: 2px solid #ddd;
        th {
          padding: 1px 8px;
        }
        td {
          padding: 5px 8px;
        }
      }
    }
    .empty {
      td {
        padding: 0 !important;
        .alert {
          padding: 8px 10px;
        }
      }
    }
  }
}

@mixin rotate-rule($prefix: '') {
  0% {
    #{$prefix}transform: rotate(0deg);
  }
  100% {
    #{$prefix}transform: rotate(359deg);
  }
}

@keyframes rotate {
  @include rotate-rule();
}
@-webkit-keyframes rotate {
  @include rotate-rule(-webkit-);
}
@-moz-keyframes rotate {
  @include rotate-rule(-moz-);
}
@-o-keyframes anim-rotate {
  @include rotate-rule(-o-);
}
@-ms-keyframes rotate {
  @include rotate-rule(-ms-);
}

.table {
  thead {
    tr {
      th {
        &.center {
          text-align: center;
        }
        &.right {
          text-align: right;
        }
      }
    }
  }
  tbody {
    tr {
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      td {
        &.center {
          text-align: center;
        }
        &.right {
          text-align: right;
        }
        .version {
          color: #555;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  &.table-hover {
    tr {
      td, th {
        vertical-align: middle !important;
      }
    }
    tbody {
      tr {
        &:hover {
          background-color: #fcfcfc;
          td {
            background-color: transparent;
          }
          &.empty {
            background-image: none;
            border-left-color: transparent;
            border-right-color: transparent;
          }
        }
      }
    }
  }
}
