$fa-font-path: "../fonts/";
$gray: #f3f3f3;
$orange: #f0ad4e;
$green: #5cb85c;
$red: #d9534f;
$blue: #428bca;
$sidebar: 200px;
$dark-blue: #1A3852;
$sidebar-blue: #29567D;

$custom-gutter: 15px;

$font-family-base: 'Open Sans', sans-serif;

// bootstrap overrides
$alert-border-radius: 0;
$panel-border-radius: 0;

// table overrides
$table-cell-padding: 12px 8px;
$table-bg-active: #F3F8FC;

// modal overrides
$modal-xl: 1100px;

// tooltip overrides
$tooltip-max-width: 250px;

@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/variables";
@import 'overrides/sbg-variables';