@import "variables";
@import "bootstrap";
@import "mixins";

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333333;
    background-color: #fff;
}

// firefox hack for fixing content overflow in flexbox containers.
* {
  min-height: 0;
}

.container-fluid {
  padding: 0;
  height: 100%;
}

.main {
  height: 100%;
  @extend .flex-one;
}

.rabix {
  color: #555;
  font-family: $font-family-base;

  @import "sidebar";
  @import "loader";
  @import "error";
  @import "cliche";
}

@import "common";
@import "elements";
@import "components/components";


/* PAGE
================================================ */
.rabix .page {
  position: relative;
  background-color: #fff;
  height: 100%;
  @extend .flex-box-column;

  .content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    @extend %scrollbar;
    @extend .flex-one;

    &.content-tbl {
      padding: 0;
    }

    &.content-mix {
      padding-top: 0;
    }

  }

  /* Workflow Editor page */
  &.workflow-edit {
    & > .content {
      overflow-x: hidden;
    }

    .sidebar-col {
      width: 350px;

      .filter {
        min-width: 150px;
        .form-control {
          border: {
            left: none;
            top: none;
          }
        }
      }
    }

    .nav-tabs {
      &.nav-tabs-steps {
        li {
          width: 42%;
        }
      }
    }
  }

}

//@import "tables";
@import "overrides/overrides";


