.ct-tabs {
  @extend .flex-row;
  @extend .flex-dont-grow;
  padding: 10px 10px 0;

  background-color: darken($body-bg, 8);

  li {
    &.active {
      &:before {
        border-color: transparent $body-bg transparent transparent;
      }

      &:after {
        border-color: transparent transparent transparent $body-bg;
      }
    }

    > a {
      position: relative;
      padding: 6px 20px;
    }

    &.transclude {
      float: right;
      margin-top: -5px;
    }

    i.fa {
      position: relative;
      left: 5px;
      padding: 7px;
      margin: -7px;
      cursor: pointer;
      color: #aeaeae;

      @include transition(color $transition-duration);

      &:hover {
        color: $alert-danger-text;
      }
    }
  }
}