@import "../../assets/sass/variables";

.component-main {
    width: 100%;
    height: 100%;
}

.editor-container {
    height: 100%;

    & > editor-sidebar {
        float: left;
        width: 70px;
    }

    & > workspace {
        float: left;
        overflow: hidden;
        height: calc(100% - #{$action-bar-height});
        width: calc(100% - 90px);
    }
}

