:host {
    display: inline-block;
    width: 100%;

    .array-row {
        display: flex;
        flex-direction: column;

        ct-job-step-inspector-entry {
            display: flex;
        }

        .array-entry {
            display: flex;
        }

        .delete-btn-group {
            flex-basis: 30px;
            padding-left: .5em;
            padding-top: .1em;
        }
    }

    .single-input {
        display: flex;
    }
}
