@import "../../sass/variables";

$gradientDarken: 2%;

.btn,
.btn-primary,
.btn-secondary,
.btn:disabled {
    border: 1px solid $black;
    border-radius: $btn-border-radius;
}

.btn:disabled {
    color: white;
    opacity: 0.5;
}

.btn-loader {
    min-height: 2.25em;
    position: relative;
    padding: 0;
}

.btn-link,
.btn-link:disabled {
    border: none;
    background: none;
    vertical-align: baseline;
}

.btn-inline-link,
.btn-inline-link:disabled {
    border: none;
    padding: 0;
    background: none;
    margin: 0;
    color: inherit;
    cursor: pointer;
    line-height: inherit;
    outline: none;
    text-decoration: underline;
    vertical-align: baseline;

    &:hover {
        text-decoration: underline;
    }
}


.btn-primary:active {
    background: $btn-primary-bg;
}

.btn:enabled:hover {
    border-color: $btn-border-hover-color;
}

.btn:active {
    outline-color: $element-focus-color;
}

.btn:focus {
    outline-color: $element-focus-color;
}

.btn:focus:active {
    outline-color: $element-focus-color;
}
