@import "../../sass/variables";

$gradientDarken: 2%;

.btn,
.btn-primary,
.btn-secondary,
.btn:disabled {
    border: 1px solid $btn-border-color;
    border-radius: $btn-border-radius;
}

.btn:disabled {
    color: $text-muted;
    opacity: 1;
}

.btn-loader {
    min-height: 2.25em;
    position: relative;
    padding: 0;
}

.btn-link,
.btn-link:disabled {
    border: none;
    background: none;
}

.btn-primary:active {
    background: linear-gradient(darken($btn-primary-bg, $gradientDarken), darken(darken($btn-primary-bg, $gradientDarken), $gradientDarken));
}

.btn:enabled:hover {
    border-color: $btn-border-hover-color;
}

.btn-primary,
.btn-primary:enabled:hover {
    border-color: $btn-primary-border-color;

    @if $btn-gradient-active {
        $gradientStop: darken($btn-primary-bg, $gradientDarken);
        background: linear-gradient($btn-primary-bg, $gradientStop);

    } @else {
        background: $btn-primary-bg;
    }
}

.btn-secondary,
.btn-secondary:enabled:hover {

    @if $btn-gradient-active {
        $gradientStop: darken($btn-secondary-bg, $gradientDarken);

        background: linear-gradient($btn-secondary-bg, $gradientStop);

    } @else {
        background: $btn-secondary-bg;
    }
}

.btn-primary:disabled,
.btn-primary:disabled:hover {
    background: darken($btn-primary-bg, $gradientDarken);
    border-color: $btn-primary-border-color;
}

.btn-secondary:disabled,
.btn-secondary:disabled:hover {
    background: darken($btn-secondary-bg, $gradientDarken);
}
