@import "./variables";

.btn-icon {
    background: none;
    color: $text-muted;
    padding-left: $input-padding-x;
    padding-right: $input-padding-x;

    &:hover {
        color: $text-color;
    }
}

.form-section {
    background: $panel-bg;
    border-radius: $border-radius;
    padding: 1em;
}

.form-control[readonly] {
    color: $input-color-disabled;
}

//Disable shadows on focused inputs
.form-control:focus {
    .has-warning & {
        box-shadow: none;
    }
}

.btn-secondary {

    &.input-addition {
        border-left: none;

    }
}

.btn-secondary.input-addition {
}

.input-group {
    .btn {
        border: 1px solid $input-border-color;
        border-radius: $input-border-radius;
    }
    .btn:first-child {
        //border-left: none;
    }
}

.selectize-control {

    &.single, &.multi {

        .selectize-input {
            color: $input-color;
            background: $input-bg;
            border: $input-btn-border-width solid $input-border-color;
            box-shadow: none;

            &.disabled {
                opacity: 1;
                background: $input-bg-disabled;
            }

            .has-warning & {
                border-color: $brand-warning;
            }

            &.dropdown-active::before,
            &.input-active {
                background: $input-bg;
                border: $input-btn-border-width solid $input-border-focus;
            }

            input {
                color: $input-color;
            }
        }

        .selectize-dropdown {

            background: $dropdown-content-bg;
            color: $text-color;

            border-color: $input-border-color;

            .optgroup-header,
            .option {
                background: $dropdown-content-bg;
                color: $text-color;
            }

            .option {
                &.active {
                    background: $dropdown-active-bg;
                }
            }
        }
    }

    &.multi .selectize-input [data-value] {
        background: $btn-primary-bg;
        border-color: $btn-primary-border;
    }
}
