@import "~bootstrap/scss/variables";

//
//
// ----- Colors -----
//

$black: #232323;
$dark-gray: #303030;
$gray: #3c3c3c;
$light-gray: #999;
$smoke: #eee;
$white: #fff;

$blue: #337cb9;
$sky: #6aaaf0;

$orange: #dc8400;
$carrot: #e29834;

$red: #dd4a38;

$purple: #a184dc;

$green: #7ac24d;

//
//
// ----- Color Scheme -----
//
// # Brand Colors
$brand-success: #5ca711;
$brand-primary: $sky;
$brand-danger: $red;
$brand-warning: $orange;
$brand-info: $sky;
// # Other Colors
$element-focus-color: rgb(77, 144, 254);

// ----- Global Layout Elements -----
$body-bg: $dark-gray;
$panel-bg: $gray;
$toolbar-height: 2em;
$toolbar-header-bg: $black;

// ----- General Shapes -----
$border-radius: 2px;

// ----- Typography ------
$font-size-base: 13px;
$text-color: $smoke;
$text-muted: $light-gray;

// ----- Tag -----
$tag-primary-bg: $brand-primary;
$tag-color: black;

// ----- Forms -----
$input-bg: #333333;
$input-border-color: #3a3a3a;
$input-bg-focus: $input-bg;
$input-color-focus: $text-color;
$input-color: $text-color;
$input-border-radius: $border-radius;
$input-line-height: 1rem;
$input-padding-x: .55rem;
$input-padding-y: .4rem;
$input-border-color: $black;
$input-bg-disabled: #262626;
$input-color-disabled: $text-muted;
$input-bg-hover: $brand-primary;
$input-group-addon-bg: $input-bg;
$input-bg-disabled: $panel-bg;

// ----- Dropdowns ------
$dropdown-content-bg: #3e3e3e;
$dropdown-content-color: $text-color;
$dropdown-tag-bg: $btn-primary-bg;
$dropdown-active-bg: $input-border-color;

// ----- Code -----

$code-color: $brand-primary;
$code-base-cmd: $purple;
$code-inputs: $green;
$code-args: #fda365;
$code-warning: $brand-warning;
$code-error: $brand-danger;

// ----- Buttons -----
$btn-primary-border-color: #1a4365;
$btn-border-color: #313030;
$btn-border-radius: $border-radius;
$btn-line-height: 1.3rem;
$btn-padding-x: 1.2rem;
$btn-padding-y: .4rem;
$btn-primary-bg: $blue;
$btn-secondary-bg: $dark-gray;
$btn-secondary-color: $text-color;
$btn-border-hover-color: $input-border-color;
$btn-gradient-active: true;

// ----- Alerts -----
$alert-border-radius: $border-radius;
$alert-padding-x: $input-padding-x;
$alert-padding-y: $input-padding-y;
$alert-danger-bg: #623a3a;
$alert-danger-border: #561d1d;
$alert-danger-text: $text-color;

// ----- Links -----
$link-color: $brand-primary;
$link-hover-color: lighten($brand-primary, 10%);

// ----- Tables -----
$table-border-color: $body-bg;
$toolbar-border: $black;

// ----- Layout Uniques -----
$main-header-height: 35px; // Logo/tabs row
$panel-resize-handle-width: 6px; // drag handle for resizing nav tree

// ----- Misc -----

// ----- Modals -----
$modal-content-bg: $body-bg;
$modal-header-bg: $toolbar-header-bg;
$modal-content-bg: $panel-bg;
$modal-backdrop-opacity: .25;
$modal-footer-border-color: transparent;

/**
 * SIDE PANELS
 */

/** button borders */
$btn-success-border: #328e46;
$btn-primary-border: #296394;
$btn-danger-border: #804c03; // not according to style guide
$btn-warning-border: #bc7e20; // not according to style guide

/** Layout */
$layout-stripe-width: 28px;
$layout-section-background: #333;
$layout-section-terminal-background: #1f1f1f;
$layout-section-border-dark: 1px solid #1a1a1a;
$layout-section-border-light: 1px solid #232323;
$layout-section-font-color: #f3f3f3;

$layout-section-alt-border-color: #ccc;

/**
* Action Bar
 */
$action-bar-border-color: $layout-section-alt-border-color;
$action-bar-background: white; // @TODO Fix theme variable, bottom of tab value

//$layout-title-bar-background: #1f1f1f;
$layout-title-bar-height: 36px;

$layout-tab-height: 32px; // @fixme unused?
$layout-tab-background-idle: #5c5f64; // @fixme unused?
$layout-tab-background-active: white; // @fixme unused?

$layout-element-alt-background: rgb(246, 246, 246);
$layout-element-alt-foreground: white;
$layout-element-separator-color: $black;

$layout-status-bar-height: 32px;

$layout-text-color: $smoke;
$layout-text-color-faded: $light-gray;

// Typography
$font-family-title: "Montserrat";

// Editors common
$action-bar-height: 36px;
$action-bar-color: $layout-element-alt-foreground;
$sidebar-panel-bg: $gray;

$brand-danger-inverse-color: white;

// ErrorBarComponent
$notification-bar-height: $main-header-height * .8;

// Tree View
$tree-node-selected-color: white;
$tree-node-selected-background: $dark-gray;

// Editor Panel
$editor-panel-selected-background: #455c7d;
$editor-panel-selected-border: $brand-primary;
$editor-panel-selected-color: white;

// Editor Panel Error States
$editor-panel-error-selected-background: #a54134;
$editor-panel-error-selected-border: $brand-danger;
$editor-panel-warning-selected-background: #9c6e2c;
$editor-panel-warning-selected-border: $brand-warning;
$editor-panel-icon-selected-color: white;

// Revision List
$revision-list-entry-active-bg: $input-bg;
$revision-list-entry-hover-bg: $panel-bg;
