@import "../../../assets/sass/variables";

.drag-container {
    position: fixed;
    cursor: -webkit-grab;
    z-index: 6;

    & > .drag-image {
        width: 75px;
        height: 65px;
        opacity: 0.95;
        margin: 0 auto;
    }

    & > .drag-text {
        text-align: center;
        font-family: sans-serif;
        font-style: italic;
        color: #666666;
        padding: 5px;
        max-width: 200px;
    }
}
