.tool-info {
    margin: 20px;
}

.tool-info-item {
    margin-bottom: 40px;
}

.tool-meta {
    display: flex;
}

.tool-meta-item {
    flex-grow: 1;

    ul {
        list-style-type: none;
    }
}

.tool-links {
    ul {
        display: flex;
        list-style-type: none;
    }

    li {
        margin-right: 30px;
    }
}
