@import "../../../assets/sass/variables";

:host {
    position: relative;
    display: inline-block;
    z-index: 3;

    .generic-menu {
        position: absolute;
        background: $panel-bg;
        border-radius: $border-radius;
        box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);

        &.right-align {
            left: 0;
        }

        &.left-align {
            right: 0;
        }
    }

}

