@import "../../../assets/sass/variables";

:host {
    position: relative;
    display: inline-block;

    .generic-menu {
        z-index: 1000;
        position: absolute;
        background: #333333;
        border: 1px solid $black;
        border-radius: $border-radius;
        box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);

        &.top {
            top: -180%;
        }

        &.right-align {
            left: 0;
        }

        &.left-align {
            right: 0;
        }
    }

}

