@import "./../../../../assets/sass/variables";
@import "./../../../../assets/sass/mixins";

:host {
    display: block;
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: .95rem;

    &:hover {
        background: $black;
        cursor: pointer;
    }

    .title {
        @include ellipsis();
    }

    .label {
        @include ellipsis();
        color: $layout-text-color-faded;
        font-size: .85rem;
    }
}
