@import "../../../assets/sass/variables";

:host {
    display: block;
    /deep/ .form-control {
        background: #333;
        color: $layout-text-color;
    }

    .auth-form {

    }

    .form-group {
        width: 50%;
    }

    .form-control:focus {
        box-shadow: none;
    }

    .has-success {
        .form-control {
            border-color: #292f2a;
        }
    }

    .has-danger {
        .form-control {
            border-color: inherit;
        }
        .form-control-feedback {
            color: #cca5a5;
        }
    }
}
