@import  "../../../../assets/sass/variables";

.key-input {
    margin-left: 10px;
    border: 2px solid transparent;
    border-radius: .38rem;
}

.key-container {
    .key-validation-icon {
        margin: auto;
        color: $brand-danger;
    }
}
