@import  "../../../../assets/sass/variables";

ct-key-value-input {
    display: flex;
    width: 100%;
}

.key-input {
    display: inline;
    margin-left: 10px;
    border: 2px solid transparent;
    border-radius: .38rem;
}

.readonly-value-input {
    margin-left: 29px;
    background: $readonly-input;
    border: $border-color solid 1px;

    &.half-width-value-input {
        margin-left: 15px;
    }
}

.key-container {
    .key-validation-icon {
        margin: auto;
        color: $brand-danger;
    }
}
