@import "../../../../assets/sass/variables";
@import "../../../../assets/sass/mixins";

:host {
    flex: 1;
    display: flex;
    flex-direction: column;

    ct-search-field {
        margin: 0.5rem;
    }

    ct-nav-search-result {
        opacity: 0;
        margin-left: -1em;

        &.shown {
            transition: all .1s;
            opacity: 1;
            margin-left: 0;
        }
    }

    .no-results {
        text-align: center;
        color: $layout-text-color-faded;
    }

    .grouping-toggle {
        padding: 0.4rem 1em 0.1rem 1em;
    }

    .group-by-item {
        &.active {
            background-color: $gray;
        }
    }

    /deep/ {

        .fa-folder-open,
        .fa-folder {
            color: $light-gray;
        }

        .fa-file {
            color: $smoke;
        }

        .fa-share-alt {
            color: $carrot;
        }

        .fa-terminal {
            color: $purple;
        }
    }
}


