@import "../../../assets/sass/variables";

:host {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $body-background;
  z-index: 9;
  display: flex;
  align-content: space-around;
  align-items: center;

}
