.flex-col {
  flex-direction: column;
  flex-grow: 1;
}

.flex-container {
  display: flex;
  flex: 1 0 auto;
  //flex-basis: 100%;
  //height: 100%;
}

.flex-row {
  flex-direction: row;
  flex-grow: 1;
}

.flex-grow {
  flex: 1;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-self-center {
  align-self: center;
}

.flex-fixed {
  flex-grow: 0;
  flex-shrink: 0;
}