/** Custom mixins go here **/

@mixin input-box-shadow($color) {
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px $color)
}

@mixin standard-box-shadow($color: rgba(0, 0, 0, 0.15)) {
  @include box-shadow(0 0 8px $color);
}

@mixin input-states($color) {
  input {
    border-color: darken($color, 3);

    &:focus {
      border-color: darken($color, 5);
      @include input-box-shadow(transparentize($color, .5));
    }
  }

  i {
    color: darken($color, 10);
  }
}