@import "../../../../assets/sass/variables";

:host {
    display: flex;
    flex-direction: column;

    ct-nav-search-result {
        opacity: 0;
        margin-left: -1em;

        &.shown {
            transition: all .1s;
            opacity: 1;
            margin-left: 0;
        }
    }

    .no-results {
        text-align: center;
        color: $layout-text-color-faded;
        .icon {
            color: #212121;
        }
    }

    /deep/ {

        .fa-folder-open,
        .fa-folder {
            color: #a8b2c1;
        }

        .fa-file {
            color: #e6e6e6;
        }

        .fa-share-alt {
            color: #e29834;
        }

        .fa-terminal {
            color: #a184dc;
        }
    }
}


