@import "../../../../assets/sass/variables";

:host {
    flex: 1;
    display: flex;
    flex-direction: column;

    ct-search-field {
        margin: 0.5rem;
    }

    ct-nav-search-result {
        opacity: 0;
        margin-left: -1em;

        &.shown {
            transition: all .1s;
            opacity: 1;
            margin-left: 0;
        }
    }

    .no-results {
        text-align: center;
        color: $layout-text-color-faded;
    }

    /deep/ {

        .fa-folder-open,
        .fa-folder {
            color: $light-gray;
        }

        .fa-file {
            color: $smoke;
        }

        .fa-share-alt {
            color: $carrot;
            -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{0}, mirror=1)";
            -webkit-transform: scale(-1, 1);
            -ms-transform: scale(-1, 1);
            transform: scale(-1, 1);
        }

        .fa-terminal {
            color: $purple;
        }
    }

    .app-sources-btn {
        text-decoration: none;
        color: $brand-primary;

        &:active, &:focus {
            color: $brand-primary;
            border-color: transparent;
            background: none;
            outline: none;
        }
    }

    .sync-btn {
        color: $layout-text-color;
        float: right;
        margin-right: 1rem;
        padding: 7px 10px;

        &:focus {
            border-color: transparent;
            background: none;
            outline: none;
        }

        &:hover {
            color: $layout-text-color;
            background: #333;
            border: $input-btn-border-width solid #6d6d6d;
            padding: 6px 9px;
        }
    }
}


