@import "../../../assets/sass/variables";

.input-form {
    background: #ffffff;
    width: 60%;
    display: block;
    padding: 20px 20px 30px 20px;
    color: #000000;
}

.footer {
    height: $editor-footer-height;
    width: 100%;
    position: absolute;
    bottom: 0;
}
