#guiEditorContainer {

    .propertyInput {
        background: #ffffff;
        width: 60%;
        display: block;
        height: 100%;
        padding: 20px 20px 30px 20px;
        color: #000000;
        margin: 20px auto;
    }

    /* TODO: change this styling/colors */
    footer {
        border: 2px solid #000000;
        background: #55595c;

        /*The editor width is 70%; and we can't use 100% because the positions of the footer is absolute*/
        width: 69.7%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;

        position: absolute;
        bottom: 0;

        button {
            margin-right: 5px;
            border-radius: 0;
            border: 1px solid #000000;
        }
    }
}
