<div class="modal-body">
    <p>
        <label class="checkbox inline">
            <input type="checkbox" ng-model="view.urlImport"> Import from url
        </label>
    </p>

    <p ng-if="view.error" class="alert alert-danger">{{ view.error }}</p>

    <div ng-hide="view.urlImport" class="codemirror">
        <div class="codemirror-editor"></div>
    </div>

    <div ng-show="view.urlImport" class="form-group">
        <form name="urlImport" ng-class="{ 'has-error' : urlImport.url.$invalid}">
            <label for="url">Enter url:</label>
            <input id="url" name="url" placeholder="http://www.example.com/tool.json" class="form-control" type="url" ng-model="view.url" required>
        </form>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="import()" ng-disabled="view.validating">Import</button>
</div>
