<div class="enum-list-wrap key-value-map">
    <a href ng-click="addItem()" class="btn btn-default add-enum-item"><i class="fa fa-plus"></i></a>

    <div class="enum-list-container">
        <ul class="enum-list">
            <li ng-repeat="item in view.list" ng-class="{'has-error': item.error}">
                <div class="enum-field form-group form-group-file">
                    <div class="col-md-6">
                        <i class="fa fa-warning error"
                           ng-if="item.error"
                           title="Duplicate map key. This key value pair will not be saved."></i>
                        <input ng-disabled="ngDisabled"
                               key-changer
                               key="item.key"
                               items="view.list"
                               has-error="item.error"
                               type="text"
                               class="form-control"
                               placeholder="{{ ::keyLabel || 'Enter Key'}}"
                               ng-model="item.key"/>
                    </div>
                    <div class="col-md-6">
                        <input ng-disabled="ngDisabled"
                               ng-if="!hasExpr"
                               ng-model="item.value"
                               type="text"
                               class="form-control"
                               placeholder="{{ ::valueLabel || 'Enter Value' }}">
                    </div>
                </div>
                <a href class="fa fa-remove remove-btn" ng-click="removeItem(item, $index)"></a>
            </li>
        </ul>

        <p class="alert alert-info" ng-if="view.list | isEmpty">
            {{ ::emptyListLabel || 'Click the plus button to add a key-value pair.' }}
        </p>
    </div>
</div>