<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span>&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Pick revision you want to load</h4>
</div>

<div class="modal-body no-padding">

    <ul class="revisions-list">
        <li ng-repeat="revision in ::view.revisions">
            <a href ng-click="choose(revision)">
                <span class="label label-primary">
                    <i class="fa fa-tag"></i> v{{ ::revision }}
                </span>
                <span ng-if="view.current === revision" class="label label-warning pull-right">current</span>
            </a>
        </li>
    </ul>

    <p ng-if="view.revisions.length === 0" class="alert alert-info">There are no revisions you can see at this moment</p>

    <div class="main-actions center-block">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</div>