<form name="view.appSettings" ng-submit="ok()">
    <div class="modal-header">
        <h4 class="modal-title">{{ view.type }} settings</h4>
    </div>
    <div class="modal-body">
        <div class="row workflow-settings">

            <div class="col-md-12">
                <label>
                    <input class="require-metadata" type="checkbox" ng-model="view.requireSBGMetadata">
                    Requires SBG metadata extension
                </label>
            </div>

            <!--<div class="col-md-12 set-instance">-->
                <!--<label>Set instance to run workflow on: </label>-->
                <!--<select ng-model="view.instanceHint.value"-->
                        <!--ng-options="instance.typeId as instance.typeId for instance in view.instances">-->
                    <!--<option value="">Default</option>-->
                <!--</select>-->
            <!--</div>-->

            <div class="col-md-12 set-instance">
                <h4 class="legend-small">Hints</h4>

                <div class="enum-list-wrap">
                    <a href ng-click="addMetadata()" class="btn btn-default add-enum-item"><i
                            class="fa fa-plus"></i></a>

                    <div class="enum-list-container">
                        <ul class="enum-list">
                            <li ng-repeat="hint in view.hints">
                                <div class="enum-field form-group form-group-file">
                                    <div class="col-md-6">
                                        <input type="text"
                                               class="form-control"
                                               placeholder="Requirement class"
                                               ng-disabled="hint.class === 'sbg:CPURequirement'
                                              || hint.class === 'sbg:MemRequirement'
                                              || hint.class === 'DockerRequirement'"
                                               ng-model="hint.class" typeahead="class for class in ['sbg:AWSInstanceType'] | filter:$viewValue"/>
                                    </div>
                                    <div class="col-md-6" ng-show="hint.class !== 'sbg:AWSInstanceType'">
                                        <expr type="text"
                                              placeholder="Requirement value"
                                              ng-model="hint.value"
                                              index="{{ $index }}"
                                              handle-item-update="updateHintValue(value, index)"
                                              ng-disabled="hint.class === 'sbg:CPURequirement'
                                              || hint.class === 'sbg:MemRequirement'
                                              || hint.class === 'DockerRequirement'">
                                        </expr>
                                    </div>
                                    <div class="col-md-6"
                                         ng-show="hint.class === 'sbg:AWSInstanceType'">
                                        <input type="text"
                                               class="form-control"
                                               ng-model="hint.value"
                                               uib-typeahead="instance.text for instance in autoSuggestInstances($viewValue)">
                                    </div>
                                </div>
                                <a href
                                   class="fa fa-remove remove-btn"
                                   ng-click="hint.class === 'sbg:CPURequirement'
                                              || hint.class === 'sbg:MemRequirement'
                                              || hint.class === 'DockerRequirement' ||removeMetadata($index)">
                                </a>
                            </li>
                        </ul>

                        <p class="alert alert-info" ng-if="view.hints | isEmpty">Click the plus button to add a
                            requirement.</p>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger" ng-if="view.error">{{view.error}}</div>
        </div>
    </div>
    <div class="modal-footer">
        <div>
            <a href class="btn btn-default" ng-click="cancel()">Cancel</a>
            <button class="btn btn-primary"
                    type="submit"
                    ng-click="ok()"
                    ng-disabled="view.appSettings.$pristine || view.appSettings.$invalid">
                Save
            </button>
        </div>
    </div>
</form>
