<div class="input-property suggested-files">
    <div class="form-group">
        <div class="control-label">
            <span class="input-key " title="Input suggested files">Input suggested files</span>
        </div>
        <div class="input-group input-property-body">
            <!--<input type="text" class="form-control" ng-model="view.model"/>-->
            <span class="form-control left file-name" ng-if="!view.model.length || view.model.length === 0">No files selected</span>
            <span class="form-control file-name" ng-repeat="file in view.model" title="{{ ::file.name }}">{{ ::file.name }} <span class="fa fa-close remove-file" ng-click="removeFile(file.id)"></span></span>
            <span class="input-group-btn pick-file">
                <button class="btn btn-default" title="Open file picker"
                        ng-click="openFilePicker()">
                    <i class="fa fa-folder"></i>
                </button>
            </span>
        </div>
    </div>
</div>
