{
    "server": {
        "host": "localhost",
        "port": 9000
    },
    "user": {
        "sessionId": ""
    },
    "apiUrls": {
        "brood": "",
        "watson": "",
        "gatekeeper": ""
    }
}
