{
    "server": {
        "host": "localhost",
        "port": 9000
    },
    "serviceRoutes": {
        "brood": {
            "port": 11180,
            "prefix": "v1"
        },
        "watson": {
            "port": 21555,
            "prefix": "v1"
        },
        "gatekeeper": {
            "port": 27778,
            "prefix": "v1"
        }
    }
}
