@import "../../../../assets/sass/variables";

:host {
    display: block;
    width: 450px;

    .text-danger {
        margin-bottom: 0;
    }

    .destination-selection {
        width: 100%;
        height: 100px;
        display: flex;
    }

    .platform {
        flex: 1;
        margin: 1em;
        border: 2px solid #c7c7c7;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        line-height: 4.4em;
        font-size: 1.1em;
        font-weight: 600;
        color: #55595c;
    }

    .active {
        border-color: $brand-primary;
        color: #333;
    }

    .modal-footer {
        text-align: right;
    }
}
