@import "../../../assets/sass/_variables.scss";

:host {

    &.backdrop {
        background: transparentize($modal-backdrop-bg, $modal-backdrop-opacity);
    }

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: block;
    position: absolute;

    .ui-modal-frame {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: $modal-content-bg;
        display: block;
        border-radius: $border-radius;
        position: absolute;
        transition: all .2s;

    }

    .ui-modal-header {
        border: 0 solid;
        line-height: 2.5em;
        text-align: center;
        border-radius: 2px 2px 0 0;
        background: linear-gradient($modal-header-bg, darken($modal-header-bg, 2%));
        border-bottom: 1px solid $modal-footer-border-color;
    }

    .modal-title {
        display: inline-block;
    }

    .modal-icon {
        height: 25px;
        width: 25px;
        margin-right: 1px;
        position: relative;
        top: 5px;
    }

    .modal-message {
        overflow: hidden;
    }

    .modal-buttonbar {
        margin-top: 15px;
        position: absolute;
        right: 20px;
        bottom: 24px;
    }

    .modal-buttonbar button {
        margin-left: 6px;
    }

    // Modal header
    // Top section of the modal w/ title and dismiss
    .modal-header {
        padding: 6px;
        border-bottom: 1px solid gray;
        background: $modal-header-bg;
    }

    // Modal body
    // Where all modal tabData resides (sibling of .modal-header and .modal-footer)
    .modal-body {
        background: $modal-content-bg;
        position: relative;
        padding: 6px;
    }

    // Footer (for actions)
    /deep/ .modal-footer {
        text-align: right; // right align buttons
        padding: .5em;

        .btn {
            min-width: 80px; // This is roughly the width of a "Cancel" button
        }

        // Properly space out buttons
        .btn + .btn {
            margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
            margin-left: 5px;
        }
        // but override that for button groups
        .btn-group .btn + .btn {
            margin-left: -1px;
        }
        // and override it for block buttons as well
        .btn-block + .btn-block {
            margin-left: 0;
        }
    }

}
