<ng-form class="content" name="inputs">

    <h3 class="legend-small">
        Input Ports
        <help-message message="{{ :: 'clicheInputsProperties' | loc }}"></help-message>
    </h3>

    <div class="enum-list-wrap">
        <add-property
                tooltip-msg="{{ :: 'clicheInputsAddInput' | loc }}"
                tooltip-placement="right"
                ng-model="view.newInput"
                type="input"
                key="id"
                tool-type="{{ view.type }}"
                properties="view.tool.inputs"
                inputs="view.job.inputs"
                class="add-enum-item large"
                id="input_add_button">
        </add-property>
        <div class="enum-list-container">
            <property-input
                    ng-repeat="property in view.tool.inputs | orderBy:sortByPosition track by property.id"
                    ng-model="property"
                    key="id"
                    name="propertyInput{{ $index }}"
                    type="{{ view.type }}"
                    inputs="view.job.inputs"
                    properties="view.tool.inputs"
                    index="$index"
                    id-prefix="input">
            </property-input>

            <p class="alert alert-info large" ng-if="view.tool.inputs.length === 0">
                Click the plus button to add input ports.
            </p>
        </div>
    </div>
</ng-form>