@import "./../../../assets/sass/variables";

:host {

    display: block;
    flex: 1;

    background: repeating-linear-gradient(
            -45deg,
            rgb(48, 48, 48),
            rgb(48, 48, 48) 10px,
            rgb(51, 51, 51) 10px,
            rgb(51, 51, 51) 20px
    );

    /deep/ {
        @import "./../svg-plugins/job-file-drop/job-file-drop";
    }

    .cwl-workflow {
        fill: transparent;
    }
}
