@import "../../../../../assets/sass/variables";

/*For some reason the input-group has ad default z-index: 2*/
.baseCommandInputGroup {
    z-index: 0;

    .addExpression {
        background: #ffffff;
        padding: 0;
        width: 20%;
    }
}

.btn-secondary.baseCommandFormBtn {
    padding: 0;
    border: 0;
    background: #ffffff;
    color: $button-blue-text;
}

