@import "../../../../../assets/sass/variables";

.expression-input-group {

    input {
        cursor: pointer;
    }

    &:hover {
        border: 2px solid $btn-primary-bg;
        border-radius: 5px;
    }

    .input-group-btn {
        cursor: pointer;
    }
}
