@import "../../../../../assets/sass/variables";

.expression-input-group {
    border: 2px solid transparent;

    .input-group-btn button {
        width: 46px;
    }

    &.expr:hover {
        border: 2px solid $gui-section-list-item-hover-border;
        border-radius: 5px;

        .input-group-btn, input {
            cursor: pointer;
        }
    }
}
