@import "../../../assets/sass/variables";

.remove-tag-icon {
    cursor: pointer;
}

.compact-list-wrapper {
    border: 1px solid $border-color;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.input-tag-list {
    display: block;
    min-height: 20px;

    .tag-pill {
        padding: 5px;
        float: left;
        font-size: 0.9rem;
        font-weight: 100;
        margin: 3px;
    }
}

.tag-input {
    border: 0;
    float: left;
    display: block;
    margin: 3px;
    cursor: text;

    &:focus {
        outline: none;
    }
}
