<div class="input-property" ng-class="{required: view.required, 'has-error': (inputForm.inputString.$invalid && !isDisabled)}">

    <div class="enum-field form-group form-group-file">

        <select class="form-control" name="inputString" ng-model="item.value" ng-required="view.required" ng-disabled="isDisabled" ng-options="option for option in view.symbols">
            <option value>-- choose --</option>
        </select>

        <span ng-if="inputForm.inputString.$invalid && !isDisabled" class="help-block">Please provide correct value</span>
    </div>
</div>