<ng-form name="inputForm" class="input-property">

    <div class="enum-field form-group form-group-file" ng-class="{'has-error': inputForm.enumFile.$invalid}">

        <div class="input-group">
            <input type="string" class="form-control" name="enumFile" ng-model="item.value.path" placeholder="Enter value" ng-required="isRequired" ng-disabled="isDisabled">
            <span class="input-group-btn">
                <a href class="btn btn-default" ng-click="more($index)"><i class="fa fa-ellipsis-h"></i></a>
            </span>
        </div>

        <span ng-if="inputForm.enumFile.$invalid" class="help-block">Please provide correct value</span>

    </div>

</ng-form>