.file-tree {
  @extend .flex-fixed;
  width: $sidebar-width;
  border-right: 1px solid #ddd;
  padding: $grid-gutter-width/2;

  background: #fff;
  @include standard-box-shadow();

  ul li a {
    display: block;
    padding: $padding-base-vertical $padding-base-horizontal;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      background-color: #efefef;
    }
  }

  .list-nested {
    margin-left: 12px;
  }
}