<li class="directory-item">

    <button ng-if="directory.isRoot === true"
            ng-click="reloadTree()"
            class="pull-right btn btn-link">
        <i class="fa fa-refresh" ng-class="{'fa-spin': directoryLoadingInProgress === true}"></i>
    </button>

    <div class="directory-name" ng-click="directory.isOpen = !directory.isOpen">
        <i class="fa fa-fw" ng-class="{'fa-folder-o': !directory.isOpen, 'fa-folder-open-o': directory.isOpen}"></i>
        &nbsp;{{ directory.name }}

    </div>
    <ul class="list-unstyled list-nested" ng-show="directory.isOpen">
        <directory-item directory="subDirectory" ng-repeat="subDirectory in directory.directories"></directory-item>
        <li>
            <a ng-click="openFile(file)" ng-repeat="file in directory.files" title="{{ file.path }}">
                <i class="fa fa-fw fa-file-code-o"></i>
                <span class="file-name">{{ file.name }}</span>
            </a>
        </li>
    </ul>
</li>