<form ng-submit="save()" name="view.form" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">
            <span>&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">
        <span>
            {{ (view.mode === 'edit') ? 'Edit' : 'Add' }} Output Property
        </span>
            <label class="checkbox inline">
                <input type="checkbox" ng-model="view.required"> required
            </label>
        </h4>
    </div>
    <div class="modal-body">


        <p ng-if="view.error" class="alert alert-danger">{{ view.error }}</p>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group" ng-class="{'has-error': (view.form.name.$invalid && view.form.$dirty)}">
                    <label class="control-label" for="output_modal_id">
                        {{ view.key === 'id' ? 'ID' : 'Name' }}
                    </label>
                    <input uib-tooltip="{{ :: 'clicheOutputsOutputId' | loc }}"
                           tooltip-trigger="focus"
                           type="text"
                           class="form-control"
                           id="output_modal_id"
                           name="name"
                           ng-model="view.name"
                           is-valid-name
                           required>
                    <span class="help-block">Allowed characters are alphanumerics and _</span>
                </div>
            </div>
            <!-- END Name -->

            <div class="col-md-3">
                <div class="form-group"
                     ng-class="{'has-error': (view.form.type.$invalid && view.form.$dirty)}">
                    <label class="control-label">
                        Type
                        <help-message message="{{ :: 'clicheOutputsType' | loc }}"></help-message>
                    </label>
                    <select class="form-control"
                            id="output_modal_type"
                            name="type"
                            ng-model="view.type"
                            ng-options="option for option in view.types"
                            required>
                    </select>
                </div>
            </div>
            <!-- END Type-->

            <div class="col-md-3" ng-if="view.type === 'array'">
                <div class="form-group">
                    <label class="control-label">
                        Item Type
                        <help-message message="{{ :: 'clicheOutputsType' | loc }}"></help-message>
                    </label>
                    <select class="form-control"
                            id="output_modal_item_type"
                            name="itemType"
                            ng-model="view.itemsType"
                            ng-options="option for option in view.itemTypes">
                    </select>
                </div>
            </div>
            <!-- END Item Type -->

            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">
                        Glob
                        <help-message message="{{ :: 'clicheOutputsGlob' | loc }}"></help-message>
                    </label>
                    <expr ng-model="view.property.outputBinding.glob"
                          handle-item-update="updateGlobValue(value)"
                          id="output_modal_glob"
                          placeholder="value">
                    </expr>
                </div>
            </div>
            <!-- END Glob -->

            <div class="col-md-12" ng-if="view.type === 'enum' || view.itemsType === 'enum'">
                <enum ng-model="view.symbols" type="'string'" min="1" is-required="true"></enum>
            </div>
        </div>


        <div>
            <h3 class="legend-small">
                Additional information
            </h3>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" ng-class="{'has-error': (view.form.label.$invalid && view.form.$dirty)}">
                        <label class="control-label" for="label">
                            Label
                        </label>
                        <input uib-tooltip="{{ :: 'clicheInputsLabel' | loc }}"
                               tooltip-trigger="focus"
                               type="text"
                               class="form-control"
                               id="label"
                               name="label"
                               ng-model="view.label">
                    </div>
                </div>
                <!-- END Label -->


                <div class="col-md-4">
                    <div class="form-group"
                         ng-class="{'has-error': (view.form.description.$invalid && view.form.$dirty)}">
                        <label class="control-label" for="description">
                            Description
                        </label>
                        <input uib-tooltip="{{ :: 'clicheInputsDescription' | loc }}"
                               tooltip-trigger="focus"
                               type="text"
                               class="form-control"
                               id="description"
                               name="description"
                               ng-model="view.description">
                    </div>
                </div>
                <!-- END Description -->

                <div class="col-md-4" ng-show="view.isFileType">
                    <div class="form-group"
                         ng-class="{'has-error': (view.form.fileTypes.$invalid && view.form.$dirty)}">
                        <label class="control-label" for="output_modal_file_types">
                            File Types
                        </label>
                        <input uib-tooltip="{{ :: 'clicheInputsFileTypes' | loc }}"
                               tooltip-trigger="focus"
                               type="text"
                               class="form-control"
                               id="output_modal_file_types"
                               name="fileTypes"
                               ng-model="view.fileTypes">
                    </div>
                </div>
                <!-- END File Types -->
            </div>
        </div>
        <!-- END Additional Information -->

        <div ng-show="view.isFileType">
            <h3 class="legend-small">
                Metadata
                <help-message message="{{ :: 'clicheOutputsMetadata' | loc }}"></help-message>
            </h3>

            <div class="meta-list">
                <div class="row">
                    <div class="col-md-12">
                        <div class="enum-list-wrap">
                            <a href ng-click="addMetadata()" class="btn btn-default add-enum-item">
                                <i class="fa fa-plus"></i>
                            </a>

                            <div class="enum-list-container">
                                <ul class="enum-list">
                                    <li ng-repeat="meta in view.metadata"
                                        ng-if="meta.key !== '__inherit__'"
                                        ng-class="{'has-error': meta.error}">
                                        <div class="enum-field form-group form-group-file">
                                            <div class="col-md-6">
                                                <i class="fa fa-warning error"
                                                   ng-if="meta.error"
                                                   title="Duplicate metadata key. This key value pair will not be saved.">
                                                </i>
                                                <input key-changer
                                                       key="meta.key"
                                                       items="view.metadata"
                                                       has-error="meta.error"
                                                       type="text"
                                                       class="form-control"
                                                       placeholder="Metadata Key"
                                                       ng-model="meta.key"/>
                                            </div>
                                            <div class="col-md-6">
                                                <expr ng-model="meta.value"
                                                      index="{{ $index }}"
                                                      type="string"
                                                      handle-item-update="updateMetaValue(index, value)"
                                                      placeholder="Metadata Value">
                                                </expr>
                                            </div>
                                        </div>
                                        <a href class="fa fa-remove remove-btn" ng-click="removeMetadata($index)"></a>
                                    </li>
                                </ul>

                                <p class="alert alert-info" ng-if="view.metadata | isEmpty">
                                    Click the plus button to add a metadata key-value pair.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="view.isFileType">
                <div class="col-md-5">
                    <label for="output_modal_property_meta-inherit_{{ view.uniqueId }}" class="control-label">
                        Inherit Metadata From Input
                    </label>
                    <div class="form-group">
                        <select class="form-control"
                                id="output_modal_property_meta-inherit_{{ view.uniqueId }}"
                                name="{{ name }}-meta-inherit"
                                ng-model="view.property.outputBinding['sbg:inheritMetadataFrom']"
                                ng-options="value for value in view.inputs">
                            <option value>-- none --</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Metadata -->

        <h3 class="legend-small">
            <label class="checkbox inline">
                <input type="checkbox"
                       class="form-control"
                       ng-model="view.property.outputBinding.loadContents"
                       name="loadContents">
                Load Contents
            </label>
            <help-message message="{{ :: 'clicheBindingsLoadContents' | loc }}"></help-message>
        </h3>
        <!-- END LoadContents -->

        <div class="row">
            <div class="col-md-5 form-group">
                <label class="control-label">
                    Output Eval
                </label>
                <expr ng-model="view.property.outputBinding.outputEval"
                      index="{{ $index }}"
                      type="string"
                      only-expr="true"
                      handle-item-update="updateOutputEval(value)"
                      placeholder="Output Eval">
                </expr>
            </div>
        </div>

        <div ng-show="view.isFileType">
            <h3 class="legend-small">
                Secondary Files
                <help-message message="{{ :: 'clicheOutputsSecondaryFiles' | loc }}"></help-message>
            </h3>

            <div class="row">
                <div class="col-md-12">
                    <!--<div ng-if="view.isSecondaryFilesExpr" class="enum-list-wrap">-->
                    <!--<a href ng-click="toggleToList()" class="btn btn-default add-enum-item"><i-->
                    <!--class="fa fa-plus"></i></a>-->

                    <!--<div class="enum-list-container">-->
                    <!--<ul class="enum-list wide">-->
                    <!--<li>-->
                    <!--<expr ng-model="view.property.outputBinding.secondaryFiles" only-expr="true"-->
                    <!--handle-item-update="updateSecondaryFilesValue(value)"></expr>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--</div>-->
                    <enum ng-if="!view.isSecondaryFilesExpr"
                          ng-model="view.property.outputBinding.secondaryFiles"
                          type="'string'">
                    </enum>
                </div>
            </div>
        </div>
        <!-- END Secondary Files-->

    </div>


    <div class="modal-footer">
        <a href class="btn btn-warning" ng-click="cancel()">Cancel</a>
        <button type="submit"
                class="btn btn-primary"
                ng-disabled="view.form.$pristine || view.form.$invalid"
                id="output_modal_save_button">
            Save
        </button>
    </div>

</form>
