<div ng-class="view.classes" loading="view.loading">

    <ng-form class="master-form flex-box-column flex-one" name="form.tool">

        <ng-include class="include" src="'views/cliche/heading/cliche-header.html'"></ng-include>

        <div class="heading sub-heading">
            <ul class="nav nav-tabs nav-tabs-steps regular">
                <li ng-show="view.type === 'tool'" ng-class="{active: view.tab === 'general'}">
                    <a href ng-click="switchTab('general')" title="General" id="general_tab">
                        General
                    </a>
                </li>
                <li ng-class="{active: view.tab === 'inputs'}">
                    <a href ng-click="switchTab('inputs')" title="Inputs" id="inputs_tab">
                        Inputs
                    </a>
                </li>
                <li ng-class="{active: view.tab === 'outputs'}">
                    <a href ng-click="switchTab('outputs')" title="Outputs" id="outputs_tab">
                        Outputs
                    </a>
                </li>
                <li ng-class="{active: view.tab === 'metadata'}">
                    <a href ng-click="switchTab('metadata')" title="Additional Information" id="additional_info_tab">
                        Additional Info
                    </a>
                </li>
                <li ng-class="{active: view.tab === 'test'}">
                    <a href ng-click="switchTab('test')" title="Test" id="test_tab">
                        Test
                    </a>
                </li>
            </ul>
            <a href class="btn btn-flush btn-flush-cliche" title="Start over with a clean template" ng-click="flush()"><i class="fa fa-trash"></i></a>
        </div>
        <!-- # .heading -->

        <div class="content content-tbl flex-box-column">

            <div ng-show="view.tab === 'general'" class="tab flex-box-column flex-one">
                <ng-include class="include flex-box-column flex-one" src="'views/cliche/tabs/general.html'"></ng-include>
            </div>

            <div ng-show="view.tab === 'inputs'" class="tab flex-box-column flex-one">
                <ng-include class="include flex-box-column flex-one" src="'views/cliche/tabs/inputs.html'"></ng-include>
            </div>

            <div ng-show="view.tab === 'outputs'" class="tab flex-box-column flex-one">
                <ng-include class="include flex-box-column flex-one" src="'views/cliche/tabs/outputs.html'"></ng-include>
            </div>

            <div ng-show="view.tab === 'metadata'" class="tab flex-box-column flex-one">
                <ng-include class="include flex-box-column flex-one" src="'views/cliche/tabs/metadata.html'"></ng-include>
            </div>

            <div ng-show="view.tab === 'test'" class="tab flex-box-column flex-one">
                <ng-include class="include flex-box-column flex-one" src="'views/cliche/tabs/test.html'"></ng-include>
            </div>
        </div>        <!-- # .content -->

        <div class="console flex-auto" ng-if="view.type === 'tool'" ng-class="{'console-hide': !view.isConsoleVisible}">
            <div ng-click="toggleConsole()" class="heading">
                Resulting command line
                <i ng-class="{'fa-chevron-down': view.isConsoleVisible, 'fa-chevron-right': !view.isConsoleVisible}"
                   class="fa pull-right"></i>
            </div>
            <copy src="#command_line_pre"></copy>

            {{ view.cmdErrors.length }}

            <pre class="console-trace"
                 id="command_line_pre"
                 select-all
                 ng-class="{wait: view.generatingCommand, error: view.cmdError && !view.command }">{{ view.command || view.cmdError }}</pre>
        </div>
        <!-- # .console -->

    </ng-form>
</div>