@import "../../../../assets/sass/variables";

.editor-panel-item {
    float: left;
    text-align: center;
    padding: 5px;
    color: darken($label-color, 10);
    text-transform: uppercase;

    &:hover {
        color: $label-color;
    }

    .title {
        font-size: x-small;
    }
}
