@import "../../../../assets/sass/variables";

.footerButtons {
    position: absolute;
    bottom: 0;
    width: 100%;

    height: $footerButtonsHeight;
    border: 2px solid #000000;
    background-color: $gui-base-gray;
    padding: 10px;

    button {
        margin-right: 5px;
        border-radius: 0;
        border: 1px solid #000000;
    }
}

.commandlineBar {
    position: absolute;
    background: #000000;
    height: 70px;
    width: 100%;
    font-family: monospace;
    opacity: 0.9;
    padding-bottom: 14px;
    bottom: $footerButtonsHeight;
}
