@import "../../../assets/sass/variables";

:host {
    display: block;

    &.borderless .form-section {
        border: none;
        padding: 0 !important;
    }

    .form-section {
        position: relative;
        display: block;
        margin-bottom: 20px;

        .borderless & {
            border: none;
            padding: 0;
        }

        /deep/ .editor-list-title {
            text-transform: uppercase;
            display: flex;
        }

        .gui-section-body {
            height: 0;

            &.show {
                height: auto;
            }
        }

        .hide-button {
            position: absolute;
        }

        /deep/ .add-btn-link {
            padding: 0;
        }
    }

    /deep/ hr { //element selector because that's how bootstrap styles it
        margin-left: - $grid-gutter-width-base/2;
        margin-right: - $grid-gutter-width-base/2;
    }

}
