@import "../../../../assets/sass/variables";

ct-quick-pick {
    margin-bottom: 10px;

    .suggestions {
        display: inline-block;

        .btn {
            height: $btn-line-height + 2 * $btn-padding-y;
            margin-right: 10px;

            input[type="radio"] {
                position: absolute;
                clip: rect(0,0,0,0);
                pointer-events: none;
            }

            &.selected {
                line-height: $btn-line-height - .25rem;
                border: 2px solid $brand-primary;
            }
        }

    }
}

