@import "../../../../assets/sass/variables";

ct-quick-pick {
    margin-bottom: 10px;
    display: block;

    .suggestions {
        display: inline-block;

        .btn {
            height: $btn-line-height + 2 * $btn-padding-y;
            margin-right: 10px;

            &.selected {
                line-height: $btn-line-height - .25rem;
                border: 2px solid $brand-primary;
            }
        }
    }

    .custom-wrapper {
        overflow: hidden;

        input {
            float: left;
            margin-right: 30px;
        }
    }
}

