@import "../../../../../assets/sass/variables";
@import "../../../../../assets/sass/mixins";

inputs-ports-form .form-section {
    @include cli-border($input-port-color);
}


.tool-input-row {
    cursor: pointer;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    overflow: hidden;
    padding: 7px 0;
    margin-bottom: 10px;
}
