@import "../../../../../assets/sass/variables";

.secondaryLabel {
    display: block;
    color:  #808080;
    font-size: small;
}

button.hideBtn {
    float: right;
    color: $button-blue-text;
    border: 0;
}
