@import "../../../assets/sass/variables";

.black {
    color: #000000;
}

.editor-sidebar-component {
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
}

.collapse-icon {
    text-align: center;
    height: 100%;
    cursor: pointer;
    width: $collapse-icon-width;
    position: relative;
    float: left;
    z-index: 1;
    background: transparent;
}

.sidebar-content {
    height: 100%;
    width: 100%;
    padding-top: 5px;
    position: relative;
}
