@import "../../../assets/sass/variables";

.tool-sidebar {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.black {
    color: #000000;
}

sidebar-component {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;

    .sidebar-container {
        width: 0;
        float: right;
        height: 100%;
        transition: width 300ms;

        &.show {
            width: 100%;
        }
    }
}

.sidebar-component {
    height: 100%;
    width: 100%;
    position: relative;
}

.collapse-icon {
    text-align: center;
    height: 100%;
    cursor: pointer;
    width: $collapse-icon-width;
    position: relative;
    float: left;
    z-index: 1;
    background: transparent;
}

