@import "../../../assets/sass/variables";

.tool-sidebar {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
    z-index: -1;
}

.black {
    color: #000000;
}

.sidebar-component {
    height: 100%;
}

.isTopOfStack {
    z-index: 0;
}

.collapse-icon {
    text-align: center;
    height: 100%;
    cursor: pointer;
    width: $collapse-icon-width;
    position: relative;
    float: left;
    z-index: 1;
    background: transparent;
}

.sidebar-content {
    height: 100%;
    width: 100%;
    position: relative;
}
