@import "../../../../assets/sass/variables";

.validatable {
    //border: $editor-list-item-border-size solid transparent;

    &:hover {
        //border-color: $editor-list-item-hover-border;
    }

    &.error {
        .validation-icon {
            color: $code-error;
        }

        &:hover, &.selected, &.ct-inspected {
            border-color: $code-error;
        }

        &.selected, &.ct-inspected {
            background-color: $code-error;
        }
    }

    &.warning {
        .validation-icon {
            color: $code-warning;
        }

        &:hover, &.selected, &.ct-inspected {
            border-color: $code-warning;
        }

        &.selected, &.ct-inspected {
            background-color: $code-warning;
        }
    }

    &.selected, &.ct-inspected {
        .validation-icon {
            //color: $editor-list-item-select-icon-color;
        }
    }
}
