block-loader {
  height: 100%;
  width: 100%;
  z-index: 1;

  &.overlay {
    background-color: rgba(0, 0, 0, .3);
    position: absolute;

    i, p {
      color: #ccc;
      text-shadow: 0 0 20px rgba(0, 0, 0, .8);
    }
  }
}

.block-loader, .loading-spinner  {
  color: #aaa;
  display: table;
  text-align: center;
  height: 100%;
  width: 100%;

  .icon {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
  }
}
