@import "../../../assets/sass/variables";

:host {
    display: flex;
    flex-basis: $action-bar-height;
    min-height: $action-bar-height;
    background: $panel-bg;
    border-bottom: 1px solid $input-border-color;
    justify-content: space-between;

    /deep/ .btn {

        $borderSize: 1px;
        $buttonMargins: 2px;
        $buttonHeight: $action-bar-height - 2*$borderSize - 2*$buttonMargins;
        &:not(".text-inherit") {
            font-size: $font-size-base;
        }
        padding: 0 $btn-padding-x-sm;
        margin: $buttonMargins 0 $buttonMargins 0;

        height: $buttonHeight;
        background: transparent;
        border-radius: $input-border-radius;

        border-color: transparent;
        color: $layout-text-color-faded;

        &:hover {
            color: $layout-text-color;
            background: #333;
            border: $input-btn-border-width solid #6d6d6d;

            &:disabled {
                border-color: transparent;
            }
        }

        &:active, &:focus {
            background: none;
            outline: none;
        }

        &:active {
            background: #343434;
        }
    }
}
