<div class="property-box-header-inner {{ type }}" ng-click="triggerAction('toggle')">

    <div class="property-box-actions pull-right">
        <a href ng-click="triggerAction('edit', $event)" id="{{ ::idPrefix }}_edit_button_{{ index + 1 }}">
            <i class="fa fa-pencil"></i>
        </a>
        <a href ng-click="triggerAction('remove', $event)" id="{{ ::idPrefix }}_remove_button_{{ index + 1 }}">
            <i class="fa fa-times"></i>
        </a>
    </div>

    <div class="property-box-short-info">

        <span ng-if="toolType === 'tool' && (mode === 'input' || mode === 'arg')" class="position" uib-tooltip="position">{{ view.position }}</span>

        <div class="info-block">
            <strong class="name" uib-tooltip="name">
                {{ name }}
            </strong>
            <i class="type" uib-tooltip="type">
                {{ type }} {{ itemType ? ' (' + itemType + ')' : '' }}
            </i>
            <span ng-if="isRequired" class="required" uib-tooltip="required">*</span>
        </div>

        <div ng-if="symbols" class="info-block">
            <strong class="name">Enum:</strong>
            <span class="value">{{ symbols.join(', ') }}</span>
        </div>

    </div>

</div>