<div property-header
     class="property-box-header tool"
     name="{{prop.prefix || 'Positional argument'}}"
     position="prop.position"
     type=""
     mode="arg"
     tool-type="tool"
     handle="handleAction(action)">
</div>

<div class="property-box-body">

    <div class="row">

        <div class="col-md-4 box-col">
            <strong class="key">Value:</strong>
            <div class="value">
                <div class="value">
                    <i class="fa fa-warning error" ng-if="view.exprError" title="{{ view.exprError }}"></i>
                    {{ prop.valueFrom.script ? prop.valueFrom.script : prop.valueFrom }}
                </div>
                <i ng-if="!prop.valueFrom">Not defined</i>
            </div>
        </div>

        <div class="col-md-4 box-col">
            <strong class="key">Prefix:</strong>
            <div class="value">
                <span>{{ prop.prefix }}</span>
                <i ng-if="!prop.prefix">Not defined</i>
            </div>
        </div>

        <div class="col-md-4 box-col">
            <strong class="key">Separate:</strong>
            <div class="value">
              <span>{{ prop.separate }}</span>
            </div>
        </div>

    </div>

</div>
