<div property-header
     class="property-box-header tool"
     name="{{ view.name }}"
     position="view.property.outputBinding.position"
     type="array"
     tool-type="tool"
     mode="output"
     id-prefix="{{ ::idPrefix }}"
     index="index"
     item-type="{{ view.itemsType }}"
     is-required="view.required"
     handle="handleAction(action)">
</div>

<div class="property-box-body">

    <div class="row">

        <div class="col-md-12 box-col" ng-if="view.itemsType === 'File'">
            <strong class="key">Glob:</strong>
            <div class="value">
                <i class="fa fa-warning error" ng-if="view.exprError" title="{{ view.exprError }}"></i>
                {{ view.property.outputBinding.glob.script ? view.property.outputBinding.glob.script : view.property.outputBinding.glob }}
            </div>
            <i ng-if="!view.property.outputBinding.glob">Not defined</i>
        </div>
        <!-- END Glob -->

        <div class="col-md-12" ng-if="view.itemsType === 'record'">

            <h3 class="legend-small">
                Fields
            </h3>

            <div class="enum-list-wrap">
                <add-property
                        type="input"
                        tool-type="tool"
                        properties="view.items.fields"
                        class="add-enum-item large">
                </add-property>

                <div class="enum-list-container">
                    <property-output
                            ng-repeat="property in view.items.fields | orderBy:sortByPosition track by property.name"
                            ng-model="property"
                            type="{{ type }}"
                            properties="view.items.fields">
                    </property-output>

                    <p class="alert alert-info large" ng-if="view.items.fields.length === 0">Click the plus button to define a field.</p>
                </div>

            </div>
        </div>

    </div>

</div>