<div property-header
     class="property-box-header tool"
     name="{{ view.name }}"
     position="view.property.inputBinding.position"
     adapter="view.property.inputBinding"
     type="{{ view.type }}"
     tool-type="tool"
     mode="input"
     id-prefix="{{ ::idPrefix }}"
     index="index"
     is-required="view.required"
     handle="handleAction(action)">
</div>

<div class="property-box-body">

    <div class="row">
        <div class="col-md-12">

            <h3 class="legend-small">
                Fields
            </h3>

            <div class="enum-list-wrap">
                <add-property
                        type="input"
                        tool-type="tool"
                        inputs="inputs[view.name]"
                        ng-model="view.newField"
                        properties="view.fields"
                        class="add-enum-item large">
                </add-property>

                <div class="enum-list-container">
                    <property-input
                            ng-repeat="property in view.fields | orderBy:sortByPosition track by property.name"
                            ng-model="property"
                            type="{{ type }}"
                            inputs="inputs[view.name]"
                            properties="view.fields"
                            handler="handler()">
                    </property-input>

                    <p class="alert alert-info large" ng-if="view.fields.length === 0">Click the plus button to define a field.</p>
                </div>

            </div>

        </div>
    </div>

</div>
