<div ng-class="view.classes" loading="view.loading">

    <div class="heading">
        <div class="main-heading">
            <div class="actions pull-right">

                <button class="btn btn-default" ng-click="editMetadata()" ng-disabled="view.saving"><i
                        class="fa fa-pencil"></i> Additional Information
                </button>

                <div class="btn-group right" uib-dropdown is-open="status.isopen">
                    <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                        <i class="fa fa-cog"></i>
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu">

                        <li>
                            <a href ng-click="workflowSettings()"><i class="fa fa-cog"></i> <span>Settings</span></a>
                        </li>

                        <li>
                            <a href='' ng-click="workflowToJSON()" ng-disabled="view.saving"><i class="fa fa-code"></i>
                                JSON</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- # .heading -->

    <div ng-if="!view.loading" class="content content-tbl flex-box-row">

        <div class="col flex-box-column flex-one content-col">
            <div class="pipeline-wrap flex-box-column flex-one"
                 pipeline="view.workflow"
                 get-app="getApp"
                 edit-mode="true"
                 controller-id="view.pipelineId"
                 pipeline-change-fn="onWorkflowChange(value)"></div>
        </div>

        <div class="col flex-box-column flex-auto sidebar-col" ng-class="{closed: !view.showSidebar}">

            <div class="heading no-padding">
                <ul class="nav nav-tabs nav-tabs-steps">

                    <li class="toggle-action">
                        <a href ng-click="toggleSidebar()">
                            <i ng-class="{'fa-chevron-right': view.showSidebar, 'fa-chevron-left': !view.showSidebar}"
                               class="fa"></i>
                        </a>
                    </li>

                    <li ng-class="{active: view.tab === 'apps'}"><a href ng-click="switchTab('apps')">Apps</a></li>
                    <li ng-class="{active: view.tab === 'params'}"><a href ng-click="switchTab('params')">Params</a>
                    </li>
                    <!--<li ng-class="{active: view.tab === 'properties'}"><a href ng-click="switchTab('properties')">Properties</a></li>-->
                </ul>
            </div>

            <div class="content content-tbl flex-box-column">

                <div class="tabs right flex-one-height">

                    <div class="tab flex-box-column flex-one" ng-class="{loading: view.filtering}"
                         ng-show="view.tab === 'apps'">
                        <form class="search-form" ng-submit="" novalidate>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="view.searchTerm"
                                       placeholder="Search apps"
                                       required>
                                <span class="input-group-btn">
                                    <button ng-disabled="view.searchTerm | isEmpty"
                                            class="btn btn-expression btn-default"
                                            ng-click="resetSearch()">
                                        <i class="fa fa-ban"></i>
                                    </button>
                                     <button class="btn btn-expression btn-default"
                                             ng-click="refreshSource()"
                                             uib-tooltip="{{ refreshingSource ? 'Reloading' : 'Reload search results' }}"
                                             tooltip-trigger="mouseenter"
                                             tooltip-placement="left"
                                             tooltip-append-to-body="true">
                                         <i class="fa fa-refresh"
                                            ng-class="{'fa-spin': refreshingSource}"></i>
                                     </button>
                                </span>
                            </div>
                        </form>
                        <ul class="app-sidebar-list">

                            <li ng-repeat="(repoType, repoTypeObj) in view.repoTypes"
                                class="open">

                                <span>
                                    <i class="fa fa-minus-square"></i>
                                    {{ ::view.capitalize(repoType)}}
                                </span>

                                <ul class="nested-list apps-inner-list">

                                    <li ng-if="(repoTypeObj | isEmpty)">
                                        <p class="alert alert-info">
                                            You don't have any apps yet
                                        </p>
                                    </li>

                                    <repo-item ng-repeat="directory in repoTypeObj.directories"
                                               filter="view.searchTerm"
                                               directory="directory">
                                    </repo-item>

                                    <li ng-repeat="app in filteredApps = (repoTypeObj.files | filter:view.searchTerm)">

                                        <a href drag="app">
                                            <i class="fa"><span class="tool-icon" ng-class="::app.class"></span></i>
                                            <span> {{ ::app.name }} </span>
                                        </a>
                                    </li>

                                </ul>

                            </li>

                        </ul>

                    </div>

                    <div class="tab flex-one" ng-show="view.tab === 'params'">
                        <p class="alert alert-info" ng-if="view.json | isEmpty">Select node in order to change its
                            parameters</p>

                        <form ng-if="!(view.json | isEmpty)" class="form" name="paramForms" novalidate>

                            <h3 class="tab-title">{{ ::view.json.label }}</h3>

                            <div ng-repeat="cat in view.inputCategories" ng-if="!view.json.softwareDescription"
                                 class="category-container sm">
                                <h4 class="category-title" ng-class="{first: $first}" ng-click="cat.show = !cat.show">
                                    {{ ::cat.name }}
                                    <i class="fa pull-right mg-right-10"
                                       ng-class="{'fa-caret-up': cat.show, 'fa-caret-down': !cat.show}"></i>
                                </h4>
                                <div class="input-container input-container-sm" ng-show="cat.show">

                                    <input-field
                                            ng-repeat="property in cat.inputs track by property['id']"
                                            ng-model="view.values[view.json.id][property['id']]"
                                            suggested-values="view.suggestedValues"
                                            values="view.values[view.json.id][property['id']]"
                                            class="input-field input-field-sm"
                                            key="id"
                                            prop="property"
                                            form="form.jobForm"
                                            app-name="{{ ::view.json.id }}"
                                            exposed="view.exposed"
                                            ignore-files="true"
                                            handle-expose="onExpose(appName, property['id'])"
                                            handle-include-in-ports="onIncludeInPorts(appName, property['id'], value)"
                                            on-un-expose="onUnExpose(appName, property['id'], value)">
                                    </input-field>
                                </div>

                            </div>


                            <!-- For input suggested files -->
                            <suggested-files
                                    ng-if="view.json.softwareDescription"
                                    ng-model="view.json"
                                    on-change="onInputFileSet()"
                            >
                            </suggested-files>

                            <p class="alert alert-info"
                               ng-if="view.json.inputs.length === 0 && !view.json.softwareDescription">There are no
                                params that can be set or exposed.</p>
                        </form>

                    </div>

                    <div class="tab flex-one" ng-show="view.tab === 'properties'">
                        <h3>Properties</h3>
                    </div>

                </div>
            </div>

        </div>


    </div>

</div>
