<div ng-class="view.classes" loading="view.loading">

    <div class="heading">
        <div class="main-heading">
            <span class="workflow-name">
                <a href="" title="Go back to project">{{ ::view.workflow['sbg:project'] }}/</a>
                {{ ::view.workflow.label}}
            </span>

            <div class="actions pull-right">
                <a href ng-if="view.showDelete" ng-click="deleteWorkflow()" class="btn btn-danger" uib-tooltip="Delete workflow" tooltip-placement="bottom"><i class="fa fa-trash"></i> Delete</a>
                <a ui-sref="workflow-editor({id: view.workflow._id, mode: 'edit'})" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
            </div>
        </div>
    </div>
    <!-- # .heading -->

    <div ng-if="view.revisions.length > 0" class="nav nav-tabs nav-page">
        <li ng-class="{active: view.tab === 'info'}"><a href ng-click="switchTab('info')">Preview</a></li>
        <li ng-class="{active: view.tab === 'description'}"><a href ng-click="switchTab('description')">Info</a></li>
        <li ng-class="{active: view.tab === 'revisions'}"><a href ng-click="switchTab('revisions')">Revisions</a></li>
        <li ng-class="{active: view.tab === 'tasks'}"><a href ng-click="switchTab('tasks')">Task Templates</a></li>
    </div>

    <div class="content content-mix flex-box-column">

        <section class="tab tab-tbl flex-box-column flex-one info" ng-show="view.tab === 'info'">
            <div ng-if="view.workflow.json" class="pipeline-wrap flex-box-column flex-one" pipeline="::view.workflow"></div>
        </section>

        <section class="tab desc" ng-show="view.tab === 'description'">

            <div class="description">
                <p ng-if="!view.workflow.description"><i>There is no description for this pipeline</i></p>
                <div class="markdown-body" markdown="::view.workflow.description"></div>
            </div>

            <div class="description">
                <div class="panel panel-warning panel-app horizontal">
                    <div class="panel-body">
                        <div class="row no-margin">

                            <section class="col-md-6">
                                <h5>Author</h5>
                                <p><strong>Username:</strong> <a ng-href="http://github.com/{{ ::view.workflow.pipeline.user.username }}" target="_blank">{{ ::view.workflow.pipeline.user.username }}</a> </p>
                                <!--<p><strong>Name:</strong> {{ ::view.workflow.pipeline.user.name }} </p>-->
                            </section>

                            <section class="col-md-6">
                                <h5>Workflow Details</h5>
                                <p><strong>Repo:</strong> <a ui-sref="repo({id: view.workflow.pipeline.repo._id})">{{ ::view.workflow.pipeline.repo.owner }}/{{ ::view.workflow.pipeline.repo.name }}</a></p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

            <div class="snippet">
                <p>Use this command to run workflow</p>
                <pre>$ rabix "<a ng-href="/workflow/{{ ::view.workflow._id }}" target="_blank">{{ view.domain }}/workflow/{{ ::view.workflow._id }}</a>"</pre>
            </div>


        </section>

        <section class="tab tab-tbl flex-box-column flex-one revisions" ng-show="view.tab === 'revisions'">

            <div class="content content-tbl">
                <table class="table table-hover revisions" ng-class="{'revisions-short': !view.user}">
                    <thead>
                    <tr>
                        <th>Version</th>
                        <th>Description</th>
                        <th class="right">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="revision in view.revisions">

                        <td class="revision">
                            <strong class="label label-primary" ng-if="revision.version"><i class="fa fa-tag"></i> v{{ ::revision.version }}</strong>
                        </td>

                        <td><p uib-tooltip="{{ ::revision.description }}" tooltip-popup-delay="1000">{{ ::revision.description || 'This workflow doesn\'t have a description' }}</p></td>

                        <td class="right">
                            <a class="btn btn-sm btn-default" uib-tooltip="View Revision" ui-sref="workflow-view({id: revision._id})"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-sm btn-default" uib-tooltip="Edit Revision" ui-sref="workflow-editor({id: revision._id, mode: 'edit'})"><i class="fa fa-pencil"></i></a>
                            <a href ng-if="view.user.id === view.workflow.user._id && view.revisions.length > 1" class="btn btn-sm btn-default" uib-tooltip="Delete Revision" ng-click="deleteRevision(revision._id)"><i class="fa fa-trash"></i></a>
                        </td>

                    </tr>
                    <tr class="empty" ng-if="view.revisions.length === 0">
                        <td colspan="4"><p class="alert alert-info">There are no revisions for this workflow</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <paginator class="paginator" page="view.page.revisions" total="view.total.revisions" handler="getMoreRevision(offset)"></paginator>

        </section>
        <!-- # .revisions -->

        <section class="tab tab-tbl flex-box-column flex-one jobs" ng-show="view.tab === 'tasks'">

            <div class="content content-tbl">
                <table class="table table-hover jobs">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Repo</th>
                        <th>Author</th>
                        <th>Url</th>
                        <th class="right">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="job in view.jobs">
                        <td>{{ ::job.name }}</td>
                        <td><a ui-sref="repo({id: job.repo._id})">{{ ::job.repo.owner }}/{{ ::job.repo.name }}</a></td>
                        <td>{{ ::job.author }}</td>
                        <td><a ng-href="{{ ::job.url }}" class="job-link" target="_blank">{{ ::job.url }}</a></td>
                        <td class="right">
                            <a ui-sref="task({id: job._id})" ng-if="view.user.id === job.user" class="btn btn-default" uib-tooltip="Edit Task Template"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                    <tr class="empty" ng-if="view.jobs.length === 0">
                        <td colspan="5"><p class="alert alert-info">There are no task templates for this app</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <paginator class="paginator" page="view.page.jobs" total="view.total.jobs" handler="getMoreJobs(offset)"></paginator>

        </section>
        <!-- # .jobs -->

    </div>
    <!-- # .content -->

</div>