@import "../../../assets/sass/variables";

:host {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    min-width: 0;

    $topOffset: 3px;

    .tab {
        display: inline-block;
        padding: 0 5px 0 5px;
    }

    .head {
        background: $layout-title-bar-background;
        flex-basis: $layout-title-bar-height;
        line-height: $layout-title-bar-height;
        width: 100%;
        display: flex;
        margin-left: -2px
    }

    .body {
        background: $editor-bg;
        color: $editor-color;
        overflow-x: hidden;
        overflow-y: auto;
        flex: 1 0 0;
    }

    .component-container,
    .tab-component {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .component-container {
        display: flex;
        flex-direction: column;
    }

    .ct-workbox-add-tab-icon {
        width: 30px;
        font-weight: bolder;
        text-align: center;
        font-size: 1rem;
    }

    .tab-bar {
        display: flex;
        flex: 1;
        -webkit-user-select: none;
        font-size: $font-size-xs;
        //box-shadow: inset 0 -8px 8px -4px rgba(0, 0, 0, 0.15);
        padding: 0 10px 0 1px;
        overflow-x: auto;
        overflow-y: hidden;
        list-style: none;
    }

    .tab {
        border: none;
        flex: 1;
        font-size: $font-size-sm;

        max-width: 275px;
        min-width: 40px;
        padding: 0 24px 10px 10px;
        position: relative;
        background: #2d2d2d;
        color: $layout-text-color-faded;
        border-left: 1px solid #4d4d4d;
        border-right: 1px solid #373a3c;
        line-height: 36px;

        .title {
            overflow: hidden;
            position: relative;
            text-overflow: ellipsis;
            white-space: pre;
            z-index: 1;
        }

        .close-icon {
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 16px;
            z-index: 10;
        }

        &.active, &.active:before, &.active:after {
            z-index: 1;
            color: $layout-text-color;
            background: #3B3B3B;
            //background-image: -webkit-linear-gradient(top, $tab-select-bg, $tab-select-bg);
        }

        //&, &:before, &:after {
        //    height: 34px;
        //    background: $tabBackground;
        //    //background-image: -webkit-linear-gradient(top, lighten($tab-bg, 5%), $tab-bg);
        //}
        //
        //&:before, &:after {
        //    content: '';
        //    position: absolute;
        //    top: 0;
        //    width: 25px;
        //    height: 35px;
        //}
        //
        //// triangle to left
        //&:before {
        //    left: -14px;
        //    border-top-left-radius: 3px;
        //    box-shadow: inset 1px 1px 0 $tab-bg, -4px 0px 4px rgba(0, 0, 0, 0.1);
        //    -webkit-transform: skewX(-30deg);
        //}
        //
        //// triangle to right
        //&:after {
        //    right: -14px;
        //    border-top-right-radius: 3px;
        //    box-shadow: inset -1px 1px 0 $tab-bg, 4px 0px 4px rgba(0, 0, 0, 0.1);
        //    -webkit-transform: skewX(30deg);
        //}
    }

    ct-settings-button {
        flex-basis: 30px;
    }
}
