@import "./../../../assets/sass/variables";

ct-status-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 2px;
    font-size: $font-size-sm;
    height: $layout-stripe-width;
    line-height: $layout-stripe-width - 6;

    .status-item {
        flex: 1 1 0;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:first-child {
            text-align: left;
        }

        &:last-child {
            text-align: right;
        }

        .btn-group .btn {
            padding: 0 12px;
            line-height: $layout-stripe-width - 7;
        }
    }
}
