@import "../../../../assets/sass/variables";

:host {
    display: block;
    width: 500px;

    .token-control {
        width: 100%;
    }

    .btn-link:focus {
        outline: none;
    }

    .platform-row {
        // TODO: unify heights accross the app
        height: 2em;
    }
}
