@import "../../../../assets/sass/variables";

:host {

    display: flex;
    width: 500px;
    flex-direction: column;

    .header {
        display: block;
        border-bottom: 1px solid $input-border-color;
    }

    ct-tab-selector-entry {
        line-height: 3em;
    }

    .folder-selection-btn {
        display: block;
    }

    .connection-loader {
        position: relative;
        height: 120px;
    }

    .body {
        flex: 1 1 auto;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .dialog-content {
        max-height: 500px;
        overflow: auto;
    }

    .dialog-centered {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .dialog-connection {
        flex: 1;
        padding: 1em;
    }

    .footer {
        text-align: right;
    }

}
