@import "../../../../assets/sass/variables";

.toolHeaderBtn {
    width: 8%;
}

.guiJsonButtons {
    .btn-secondary.selected, .toolHeaderBtn:focus {
        background-color: $gui-base-gray;
        color: #ffffff;
        border-color: #ffffff;
    }
}

.saveButton {
    float: right;
    margin-right: 15px;
}

