@import "../../../../assets/sass/variables";

header {
    #revisionSelect {
        color: #000000;
        margin-right: 40px;
        width: 100px;
    }

    button {
        width: 8%;
    }

    #guiJsonButtons {
        .btn-secondary.selected, button:focus {
            background-color: $gui-base-gray;
            color: #ffffff;
            border-color: #ffffff;
        }
    }

    #saveButton {
        float: right;
        margin-right: 15px;
    }
}
