@import "../../../assets/sass/variables";

.component-main {
  width: 100%;
  height: 100%;
}

#runnix {
  left: 100%;
  bottom: -50px;
  width: 100px;
  height: 100px;
  z-index: 1000;
  display: block;
  position: fixed;
  background: url("../../../assets/img/runny.gif") no-repeat;
  background-size: contain;

  &.active {
    transition: left 3s ease-out;
    left: -200px;
  }
}

