@import "../../../../assets/sass/variables";
@import "../../../../assets/sass/mixins";

:host {
    display: block;

    @include ellipsis();

    .node-base {
        padding: .25em;
    }

    .selected {
        background: $layout-title-bar-background;
    }
}
