@import "../../../../assets/sass/variables";
@import "../../../../assets/sass/mixins";

:host {

    .removable-form-control {
        display: flex;
        width: 100%;
        margin-bottom: 10px;

        ct-expression-input {
            flex: 1;

            /deep/ .input-group {
                padding-bottom: 1px; //@fixme (this works but PLEASE fix me)
            }
        }
    }
}
