ct-footer-tab {
    display: flex;
    flex-basis: 16rem;
    flex-direction: column;
    padding: 2rem;
    border-top: 1px solid #ccc;
    background: white;

    & > .caption {
        flex: 1;
        padding-left: 1rem;
    }

    & > .items {
        flex: 6;
        display: flex;
        flex-direction: row;

        & > .item {
            flex: 1;
            padding: 1rem;
        }
    }
}
