@import "../../../assets/sass/mixins";
@import "../../../assets/sass/variables";

:host {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    border-top: 1px solid $input-border-color;
    padding: 2em;

    background: $panel-bg;

    .subtitle {
        font-weight: bold;
    }

    .items {
        display: flex;
    }

    .item {
        flex: 1;
        padding-right: 1em;
    }
}
