ct-new-file-tab {
    display: flex;
    flex-direction: column;
    height: 100%;

    & > .content-container {
        flex: 1;
        display: flex;
        flex-direction: column;

        & > .top-empty-space {
            flex: 1;
        }

        & > .apps-container {
            flex: 5;
            display: flex;
            flex-direction: row;

            padding-left: 2rem;
            padding-right: 2rem;

            & > .apps {
                flex: 1;
                display: flex;
                flex-direction: column;

                & > .title {
                    margin-bottom: 1rem;
                }

                & > .app-container {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    text-align: center;

                    & > .app {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        border: 1px solid #ccc;
                        background: white;

                        & > .image {
                            flex: 4;
                        }

                        & > .description {
                            flex: 1;
                        }
                    }

                    & > .app ~ .app {
                        margin-left: 2rem;
                    }
                }

            }

            & > .apps ~ .apps {
                margin-left: 2rem;
            }

        }

        & > .bottom-empty-space {
            flex: 3;
        }
    }
}
