:host {
    display: flex;
    flex-direction: column;

    .content-container {
        flex: 1;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
}
