ct-welcome-tab {
    display: flex;
    flex-direction: column;
    height: 100%;

    & > .content-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        & > .content {
            max-width: 50%;
        }
    }
}
