<!DOCTYPE html>
<html lang="en">
<head>

    <title>Rabix Editors</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if (webpackConfig.htmlElements.headTags) { %>
        <%= webpackConfig.htmlElements.headTags %>
    <% } %>

    <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
</head>

<body>

    <cottontail>
        <div class="loading-image">
            <img src="assets/img/rabix-logo-holiday.png"/>
        </div>
    </cottontail>

    <% if (htmlWebpackPlugin.options.metadata.isDevServer) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>

</body>
</html>
