<!DOCTYPE html>
<html lang="">
<head>

    <title><%= webpackConfig.metadata.title %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= webpackConfig.metadata.title %>">

    <!-- base url -->
    <base href="<%= webpackConfig.metadata.baseUrl %>">
</head>

<body>

<app>
    Loading...
</app>

<% if (webpackConfig.metadata.ENV === 'development') { %>
<!-- Webpack Dev Server reload -->
<script src="/webpack-dev-server.js"></script>
<% } %>

</body>
</html>
