@import "~cwl-svg/src/assets/styles/variables";
@import "~cwl-svg/src/assets/styles/style";
@import "~cwl-svg/src/plugins/port-drag/port-drag";
@import "~cwl-svg/src/plugins/validate/validate";
@import "~cwl-svg/src/plugins/selection/selection";
@import "../update-plugin/update-plugin";

svg.cwl-workflow {

    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

}

.svg-btns {
    bottom: 30px;
    float: right;
    position: relative;
    right: 10px;
}

.svg-graph-empty-state {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    top: 20%;
    width: 50%;
    height: 200px;
    background-size: contain;
    background: url("../../../../assets/img/workflow-graph-empty-state.svg") no-repeat;
}

