@import "../update-plugin/update-plugin";


.svg-btns {
    bottom: 30px;
    float: right;
    position: relative;
    right: 10px;
}

.svg-graph-empty-state {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    top: 20%;
    width: 35%;
    left: 10px;
    height: 200px;
    background-size: contain;
    background: url("../../../../assets/img/workflow-graph-empty-state.svg") no-repeat;
}

