<div class="flex-container">

        <file-tree files="ide.workspace.files" workspace="{{ ::ide.workspace.name }}" on-add="ide.fileAdded(file)" on-open="ide.fileOpened(file)"></file-tree>
        <div class="editor-body" ui-view>
            <ct-tabs tabs="ide.openFiles" callback="ide.switchFiles(tab)" switch-active-tab="ide.activeFile">
                <ct-button intention="primary" ng-click="ide.saveFile(ide.activeFile)" size="sm" ng-if="ide.activeFile">Save</ct-button>
            </ct-tabs>

            <div ng-show="ide.activeFile" class="editor" ui-ace="ide.Editor.config" ng-model="ide.activeFile.content"></div>
            <div ng-show="!ide.activeFile" class="flex-container flex-center">
                <div class="panel panel-default col-lg-3 col-md-4 col-sm-6">
                    <div class="panel-body">
                        <h2 class="text-center">Open a file from the left</h2>

                        <hr/>
                    </div>
                </div>
            </div>
        </div>
</div>