.loading-spinner {
  color: #aaa;
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

  .icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}