@import "../../../assets/sass/variables";

.scroll-content {
    overflow-y: auto;
    position: relative;
    height: calc(100% - #{$status-bar-height} - #{$workbox-tabs-height});
}

.editor-container {
    height: 100%;
    position: relative;
    background: $gui-editor-bg;
    display: block;
}

.tool-header {
    background: $gui-editor-header-bg;
    overflow: hidden;
    display: block;
    padding: $header-padding;
    border-bottom: 1px solid $gui-editor-header-border;
}

.status-bar-footer {
    background: $gui-editor-status-bar-bg;

    .left-side {
        display: inline-block;

        & > *:not(:last-child) button {
            border-right: 1px solid #131313;
        }
    }

    .right-side {
        display: inline-block;
        float: right;
    }

    button {
        border: none;
        margin-right: 5px;
        background: none;
        color: $gui-editor-status-bar-color;
        padding-top: $status-bar-padding-y;
        padding-bottom: $status-bar-padding-y;

        &:focus, &:active, &:focus:active {
            outline: none;
        }

        [class*="fa-angle"] {
            margin-left: 7px;
        }
    }

    ct-view-mode-switch {

        button {
            text-transform: uppercase;

            &[disabled] {
                .fa {
                    color: #555;
                }
            }
        }

        .fa {
            color: #6DABED;
        }
    }

    validation-issues {
        .warning {
            color: $brand-warning;
        }

        .errors {
            color: $brand-danger;
        }
    }
}

.input-cli {
    color: $input-port-color;
}

.baseCmd-cli {
    color: $base-cmd-color;
}

.arg-cli {
    color: $arg-color;
}

.console-component {
    position: absolute;
    bottom: $status-bar-height - 6px;
    z-index: 9;

    height: 0;
    min-width: 100%;
    overflow: auto;

    background: #000000;
    opacity: 0.9;
    transition: height 300ms;

    color: $console-default-color;
    font-family: monospace;

    .console-content {
        padding: 14px;
    }

    &.show {
        height: 90px;
    }
}
