<div class="row">
    <div class="col-sm-6">
        <h3>Buttons</h3>

        <ct-button intention="success">Success</ct-button>
        <ct-button intention="warning">Warning</ct-button>
        <ct-button intention="info">Info</ct-button>
        <ct-button intention="danger">Danger</ct-button>
        <ct-button intention="default">Default</ct-button>
        <ct-button>Blank</ct-button>

        <hr/>

        <ct-button intention="success" size="xs">extra small</ct-button>
        <ct-button intention="success" size="sm">small</ct-button>
        <ct-button intention="success" size="md">medium</ct-button>
        <ct-button intention="success" size="lg">large</ct-button>

        <hr/>

        <ct-button intention="success" size="block">Block</ct-button>

        <ct-link>Links!</ct-link>

    </div>

    <div class="col-sm-6">
        <h3>Forms</h3>
        <ct-input ng-model="main.input" id="asdf">Label for Input</ct-input>
        <ct-search ng-model="main.search">Label for the search</ct-search>
    </div>

</div>