<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h3>Buttons</h3>

            <ct-button intention="primary">Primary</ct-button>
            <ct-button intention="success" ng-click="ui.toggleSuccess()">Toggle Success</ct-button>
            <ct-button intention="warning" ng-click="ui.toggleWarning()">Toggle Warning</ct-button>
            <ct-button intention="info">Info</ct-button>
            <ct-button intention="danger" ng-click="ui.toggleError()">Toggle Error</ct-button>
            <ct-button intention="default">Default</ct-button>
            <ct-button>Blank</ct-button>

            <hr/>

            <ct-button intention="success" size="xs">extra small</ct-button>
            <ct-button intention="success" size="sm">small</ct-button>
            <ct-button intention="success" size="md">medium</ct-button>
            <ct-button intention="success" size="lg">large</ct-button>

            <hr/>

            <ct-button intention="success" size="block">Block</ct-button>

            <ct-link>Links!</ct-link>

        </div>

        <div class="col-sm-6">
            <h3>Forms</h3>
            <ct-input ng-model="ui.input" id="asdf">Label for Input</ct-input>

            <ct-input ng-disabled="ui.disabled">Disabled input</ct-input>
            <ct-search ng-model="ui.search"></ct-search>
            <ct-email ng-model="ui.email" placeholder="Enter email">Email here</ct-email>
            <hr/>

            <ct-email has-error="ui.error">Bad email</ct-email>
            <ct-input has-success="ui.success">Good email</ct-input>
            <ct-search has-warning="ui.warning">Warning email</ct-search>

            <hr/>


            <ct-checkbox>Label to right</ct-checkbox>
            <ct-checkbox has-error="ui.error">Error</ct-checkbox>
            <ct-checkbox has-success="ui.success">Success</ct-checkbox>
            <ct-checkbox has-warning="ui.warning">Warning</ct-checkbox>

            <hr/>
            <ct-dropdown name="Right dropdown" intention="primary" position="right">
                <ul>
                    <li><a href="">Test</a></li>
                    <li><a href="">Test 2</a></li>
                </ul>
            </ct-dropdown>

            <ct-dropdown name="Left dropdown" intention="warning" position="left">
                <ul>
                    <li><a href="">Test</a></li>
                    <li><a href="">Test 2</a></li>
                </ul>
            </ct-dropdown>

        </div>
    </div>
</div>

