ct-job-editor-entry-old {
  // temporary fix to close issues, should consult design team
  .record-delete {
    display: block;
    position: absolute;
    top: -7px;
    right: 0;
  }

  .input-group-btn button {
    height: 28.38px; //@fixme (this works but PLEASE fix me)
    width: 46px;
  }
}
