// creates helper classes for padding and margins at every 5px

$i: 0;
@while $i <= 40 {
  .mg-left-#{$i}, .mg-horizontal-#{$i} {
    margin-left: #{$i}px;
  }
  .mg-right-#{$i}, .mg-horizontal-#{$i} {
    margin-right: #{$i}px;
  }
  .mg-top-#{$i}, .mg-vertical-#{$i} {
    margin-top: #{$i}px;
  }
  .mg-bottom-#{$i}, .mg-vertical-#{$i} {
    margin-bottom: #{$i}px;
  }
  .pd-left-#{$i}, .pd-horizontal-#{$i} {
    padding-left: #{$i}px;
  }
  .pd-right-#{$i}, .pd-horizontal-#{$i} {
    padding-right: #{$i}px;
  }
  .pd-top-#{$i}, .pd-vertical-#{$i} {
    padding-top: #{$i}px;
  }
  .pd-bottom-#{$i}, .pd-vertical-#{$i} {
    padding-bottom: #{$i}px;
  }

  $i: $i + 5;
}

.inline-block {
  display: inline-block !important;
}