/* TWITTER BOOTSTRAP, MARKDOWN and CODEMIRROR OVERRIDES
================================================ */

/* Btn override with additional extensions */
.btn {
  @include border-radius(0);
  &.btn-orange {
    @include button-variant(#fff, $orange, darken($orange, 10%));
  }

  &:active, &:focus {
    outline: none;
  }

  &.btn-flush {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    color: #555;
    padding: 1px 10px;

    &.btn-flush-cliche {
      background-color: transparent;
      padding: 4px 10px;
      font-size: 20px;
    }

    &.btn-flush-pipeline,
    &.btn-flush-app {
      background-color: #fff;
    }

    &.btn-flush-pipeline {
      z-index: 20;
    }

    &:active, &:focus {
      outline: none;
      @include box-shadow(none);
    }
  }

  &.btn-toggle {
    i {
      width: 20px;
    }
  }
}

/* Pre tag override */
pre {
  background-color: #f2f2f2;
}

/* Center block override */
.center-block {
  text-align: center;
  .btn {
    margin-right: 4px;
  }
}

/* Ul list override */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Markdown style override */
.markdown-body {
  h1 {
    padding-left: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #555;
    font-weight: normal !important;
  }
  ul {
    list-style: initial;
  }
}

/* CodeMirror override */
.codemirror {
  .CodeMirror {
    margin-bottom: 10px;
    border: 1px solid #f0ad4e;
  }

  .result {
    margin-bottom: 10px;
    background-color: #333;
    color: $orange;
    padding: 15px;
    font-family: monospace;
    border: 1px solid $orange;
    word-break: break-all;
    word-wrap: break-word;

    &.error {
      color: #ff0000;
      border: 1px solid #cc0000;
    }
  }
}

/* Inline override */
.inline {
  display: inline-block !important;
  width: auto !important;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 20px;
}

[draggable] {
  @include user-select(none);
}

/* Btn group override */
.btn-group {
  &.right {
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }
}

/* Dropdown menu override */
.dropdown-menu {
  li {
    a {
      i, span {
        display: inline-block;
        vertical-align: middle;
      }
      i {
        width: 20px;
      }
    }
  }
}

/* Tooltip overrides for functionality */
.tooltip-inner {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: left;
}

// expressions that will have code in their tooltips
.tooltip-code {
  .tooltip-inner {
    text-align: left;
  }
}

@import "tabs";
@import "forms";
@import "tags-overrides";
@import "helper";