// Included in _variables.scss

$gray: #f3f3f3;
$green: #3EB157;
//$orange: #7E9F1F;
$red: #D13736;
$blue: #3584D1;
$orange: $blue;

$brand-success: $green;
$brand-primary: $blue;
$brand-danger: $red;

$modal-inner-padding: 20px;

$sidebar: 200px;
$dark-blue: #1A3852;
$sidebar-blue: #29567D;