/* Input tags override */

.category-tags {
  display: block;
}
.category-tags *, .category-tags *:before, .category-tags *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.category-tags .host {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100%;
}
.category-tags .host:active {
  outline: none;
}

.category-tags .tags.focused {
  outline: none;
  -webkit-box-shadow: 0 0 4px 0 rgba(81, 150, 206, 0.5);
  -moz-box-shadow: 0 0 4px 0 rgba(81, 150, 206, 0.5);
  box-shadow: 0 0 4px 0 rgba(81, 150, 206, 0.5);
}
.category-tags .tags .tag-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.category-tags .tags .tag-item {
  margin: 2px;
  padding: 0 5px;
  display: inline-block;
  float: left;
  height: 26px;
  line-height: 25px;
}
.category-tags .tags .tag-item .remove-button:active {
  color: $brand-danger;
}
.category-tags .tags .input {
  border: 0;
  outline: none;
  margin: 2px;
  padding: 0;
  padding-left: 5px;
  float: left;
  height: 26px;
}
.category-tags .tags .input::-ms-clear {
  display: none;
}


.tag-item {
  @extend .alert;
  @extend .alert-info;

  display: inline-block;
  padding: 2px 5px;
  margin: 0 4px 4px 0;
  float: left;

  &:last-of-type {
    margin-right: 7px;
  }
}

.tags {
  @extend .form-control;
  padding: 3px;
}

.host {
  display: block;
  position: relative;

  div.tags { //to override the above @extend
    overflow: hidden;
    display: block;
    word-wrap: break-word;
    min-height: 50px;
    height: auto;

    .remove-button {
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }

    .tags-list {
      margin: 0;
      padding: 0;
      display: block;
      word-wrap: break-word;


    }

    input.input {
      @include box-shadow(none);
      display: block;
      transition: none;
      word-wrap: break-word;

      &:focus, &:active {
        outline: none;
      }
    }
  }
}

/** autocomplete **/
tags-input .autocomplete {
  max-width: 100%;
  position: absolute;
  z-index: 2;
}
tags-input .autocomplete .suggestion-list {
  @extend .dropdown-menu;
  display: block;
  position: relative;
}
tags-input .autocomplete .suggestion-item {
  padding: 3px 20px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
tags-input .autocomplete .suggestion-item.selected {
  color: $dropdown-link-active-color;
  background-color: $dropdown-link-active-bg;
}
tags-input .autocomplete .suggestion-item.selected em {
  font-style: normal;
  font-weight: bold;
  color: $dropdown-link-active-color;
  background-color: $dropdown-link-active-bg;
}
tags-input .autocomplete .suggestion-item em {
  font-style: normal;
  font-weight: bold;
  color: black;
  background-color: white;
}
