<!--Control Header-->
<ct-action-bar>
    <ct-tab-selector [distribute]="'auto'" [active]="viewMode" (activeChange)="switchTab($event)">

        <ct-tab-selector-entry [disabled]="!isValidCWL"
                               [tabName]="'info'">App Info
        </ct-tab-selector-entry>

        <ct-tab-selector-entry [disabled]="!isValidCWL"
                               [tabName]="'gui'">Visual
        </ct-tab-selector-entry>

        <ct-tab-selector-entry [disabled]="!isValidCWL"
                               [tabName]="'test'">Test
        </ct-tab-selector-entry>

        <ct-tab-selector-entry [disabled]="!viewMode"
                               [tabName]="'code'">Code
        </ct-tab-selector-entry>
    </ct-tab-selector>

    <div class="document-controls">

        <!--Go to app-->
        <button class="btn"
                type="button"
                *ngIf="data.dataSource !== 'local'"
                ct-tooltip="Open on Platform"
                tooltipPlacement="bottom"
                (click)="goToApp()">
            <i class="fa fa-external-link"></i>
        </button>

        <!--Save-->
        <button [disabled]="!data.isWritable"
                (click)="save()"
                ct-tooltip="Save"
                tooltipPlacement="bottom"
                class="btn" type="button">
            <i class="fa fa-save"></i>
        </button>


        <button class="btn"
                *ngIf="data.dataSource === 'local'"
                ct-tooltip="Publish to Platform"
                tooltipPlacement="bottom"
                (click)="publish()">
            <i class="fa fa-cloud-upload"></i>
        </button>


        <!--Revisions-->
        <button *ngIf="data.dataSource !== 'local' && toolModel.customProps['sbg:revisionsInfo']"
                class="btn" type="button"
                ct-tooltip="Show/Hide Revisions"
                tooltipPlacement="bottom"
                [ct-editor-inspector-target]="'revisions'"
                [ct-editor-inspector]="revisions">

            Revision: {{ toolModel.customProps['sbg:revision']}}

            <ng-template #revisions>
                <ct-revision-list [active]="toolModel.customProps['sbg:revision']"
                                  [revisions]="toolModel.customProps['sbg:revisionsInfo']"
                                  (select)="openRevision($event)">
                </ct-revision-list>
            </ng-template>
        </button>

    </div>
</ct-action-bar>

<ct-error-bar>
</ct-error-bar>

<!--Header & Editor Column-->
<div class="editor-layout">

    <ct-circular-loader *ngIf="isLoading"></ct-circular-loader>

    <!--Editor Row-->
    <ct-code-editor *ngIf="viewMode === 'code' && !isLoading"
                    [formControl]="codeEditorContent"
                    [options]="{mode: 'ace/mode/yaml'}"
                    class="editor">
    </ct-code-editor>

    <!--GUI Editor-->
    <ct-tool-visual-editor *ngIf="viewMode === 'gui' && !isLoading"
                           class="flex-col"
                           [readonly]="!data.isWritable"
                           [formGroup]="toolGroup"
                           [model]="toolModel"></ct-tool-visual-editor>

    <ct-job-editor *ngIf="viewMode === 'test' && !isLoading"
                   class="flex-col"
                   [model]="toolModel"
                   (update)="onJobUpdate($event)"
                   (reset)="resetJob()"></ct-job-editor>

    <ct-app-info *ngIf="viewMode === 'info' && !isLoading"
                 class="gui-editor-component p-2"
                 [readonly]="!data.isWritable"
                 [formGroup]="toolGroup"
                 [class.flex-col]="showInspector"
                 [model]="toolModel"></ct-app-info>


    <!--Object Inspector Column-->
    <ct-editor-inspector
        [class.flex-hide]="!showInspector && (viewMode === 'code' || viewMode === 'info')">
        <ng-template #inspector></ng-template>
    </ct-editor-inspector>
</div>

<div *ngIf="reportPanel" class="app-report-panel layout-section">
    <ct-validation-report *ngIf="reportPanel === 'validation'"
                          [issues]="validation"></ct-validation-report>
    <ct-command-line-preview *ngIf="reportPanel === 'commandLinePreview'"
                             [commandLineParts]="commandLineParts | async"></ct-command-line-preview>
</div>

<ng-template #statusControls>
                <span class="tag tag-warning">{{ toolModel.cwlVersion }}</span>
                <span class="btn-group">
                    <button [disabled]="!validation"
                            [class.active]="reportPanel === 'validation'"
                            (click)="toggleReport('validation')"
                            class="btn">

                        <span *ngIf="validation?.errors?.length">
                            <i class="fa fa-times-circle text-danger"></i> {{validation.errors.length}} Errors
                        </span>

                        <span *ngIf="validation?.warnings?.length"
                              [class.pl-1]="validation?.errors?.length">
                            <i class="fa fa-exclamation-triangle text-warning"></i> {{validation.warnings.length}} Warnings
                        </span>

                        <span *ngIf="!validation?.errors?.length && !validation?.warnings?.length">
                            No Issues
                        </span>


                    </button>

                    <button [class.active]="reportPanel == 'commandLinePreview'"
                            [disabled]="!isValidCWL"
                            (click)="toggleReport('commandLinePreview')"
                            class="btn">Preview</button>
                </span>
</ng-template>
