<!--Control Header-->
<ct-action-bar>
    <ct-tab-selector [distribute]="'auto'" [active]="viewMode" (activeChange)="switchTab($event)">
        <ct-tab-selector-entry [disabled]="!tabsUnlocked()" data-test="tool-info-tab" [tabName]="'info'">App Info</ct-tab-selector-entry>
        <ct-tab-selector-entry [disabled]="!tabsUnlocked()" data-test="tool-visual-tab" [tabName]="'gui'">Visual</ct-tab-selector-entry>
        <ct-tab-selector-entry [disabled]="!tabsUnlocked()" data-test="tool-test-tab" [tabName]="'test'">Test</ct-tab-selector-entry>
        <ct-tab-selector-entry data-test="tool-code-tab" [tabName]="'code'" [disabled]="!tabsUnlocked() || !!unavailableError">Code
        </ct-tab-selector-entry>
    </ct-tab-selector>

    <ct-common-document-controls [host]="this"></ct-common-document-controls>
</ct-action-bar>

<ct-notification-bar></ct-notification-bar>

<!--Header & Editor Column-->
<div class="editor-layout">

    <ct-circular-loader *ngIf="isLoading"></ct-circular-loader>

    <div class="full-size-table-display" *ngIf="!!unavailableError">
        <div class="vertically-aligned-cell text-md-center">
            <p>This app is currently unavailable.</p>
            <p>{{ unavailableError }}</p>
        </div>
    </div>


    <!--Editor Row-->
    <ct-code-editor *ngIf="viewMode === 'code' && !isLoading"
                    [formControl]="codeEditorContent"
                    [options]="{mode: 'ace/mode/yaml'}"
                    class="editor">
    </ct-code-editor>

    <!--GUI Editor-->
    <ct-tool-visual-editor *ngIf="viewMode === 'gui' && !isLoading && dataModel"
                           class="flex-col"
                           (change)="syncModelAndCode(false)"
                           [readonly]="isReadonly"
                           [formGroup]="toolGroup"
                           [model]="dataModel"></ct-tool-visual-editor>

    <!--Test Editor-->
    <ct-graph-job-editor *ngIf="viewMode === 'test' && !isLoading && workflowWrapper"
                         (draw)="onGraphJobEditorDraw($event)"
                         [appID]="tabData.id"
                         [model]="workflowWrapper">
    </ct-graph-job-editor>

    <ct-app-info *ngIf="viewMode === 'info' && !isLoading && dataModel"
                 class="gui-editor-component p-2"
                 [readonly]="isReadonly"
                 (change)="syncModelAndCode(false)"
                 [formGroup]="toolGroup"
                 [class.flex-col]="showInspector"
                 [model]="dataModel"></ct-app-info>


    <!--Object Inspector Column-->
    <ct-editor-inspector
        [class.flex-hide]="isLoading || !showInspector && (viewMode === 'code' || viewMode === 'info')">
        <ng-template #inspector></ng-template>
    </ct-editor-inspector>
</div>

<ct-common-report-panel [hidden]="!reportPanel" [host]="this" #reportPanelComponent>
    <ct-command-line-preview *ngIf="reportPanel === 'commandLinePreview'" [commandLineParts]="commandLineParts | async">
    </ct-command-line-preview>
</ct-common-report-panel>

<ng-template #statusControls>
    <ct-common-status-controls [host]="this"></ct-common-status-controls>
</ng-template>
