@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";

.input-cli {
    color: $input-port-color;
}

.baseCmd-cli {
    color: $base-cmd-color;
}

.arg-cli {
    color: $arg-color;
}

ct-app-info {
    overflow: scroll !important;
}
