@import "../../assets/sass/variables";
@import "../../assets/sass/mixins";

.input-cli {
    color: $input-port-color;
}

.baseCmd-cli {
    color: $base-cmd-color;
}

.arg-cli {
    color: $arg-color;
}

.input-list-items {
    border-radius: $gui-section-list-item-border-radius;
    margin-bottom: 10px;
    list-style: none;

    &.record-input {
        border: 1px solid $gui-section-list-item-bg;

        > .gui-section-list-item {
            margin-bottom: 10px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .gui-section-list-item {
        margin-bottom: 0;
    }
}