# Courtesy of https://gist.github.com/azu/673426500458f63f019c8f5e013f282a

name: Release

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - macOS-latest
          - windows-latest
          - ubuntu-18.04

    steps:
      - name: Context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Set Windows shell
        if: contains(matrix.os, 'windows')
        run: |
          npm config set script-shell "C:\\Program Files\\git\\bin\\bash.exe"

      - name: Install and build
        run: |
          npm ci          
          npm run build
      
      # - name: Cleanup artifacts
      #   run: |
      #     npx rimraf "dist/!(*.exe|*.deb|*.AppImage|*.dmg)"

      - name: Upload macOS artifacts
        if: contains(matrix.os, 'macOS')
        uses: actions/upload-artifact@v1
        with:
          name: ${{ matrix.os }}
          path: build/mac

      - name: Upload win artifacts
        if: contains(matrix.os, 'windows')
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}
          path: build/*.exe

      - name: Upload linux artifacts
        if: contains(matrix.os, 'ubuntu')
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}
          path: build/*.AppImage

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: "build/**"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
