@import "./variables";

.flex-container {
  padding: 0;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  flex-grow: 1;
  flex-basis: 0;
}

.form-control-label {
  //color: $input-label-color;
  //font-size: $input-label-size;
  margin-bottom: .3rem;
}

.form-text {
  font-size: $font-size-sm;
  color: $text-muted;
  margin-bottom: 1rem;
}
