
    .flex-container {
        padding: 0;
        margin: 0;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        justify-content: space-around;
    }

    .flex-item {
        flex-grow: 1;
        flex-basis: 0;
        //padding: 5px;
        //width: 200px;
        //height: 150px;
        //margin-top: 10px;
        //
        //line-height: 150px;
        //color: white;
        //font-weight: bold;
        //font-size: 3em;
        //text-align: center;
    }
