/**
 * GUI EDITORS
 */
$gui-editor-bg: $background-grey;
$gui-editor-header-bg: $background-light;
$gui-editor-header-border: $border-color;

$gui-editor-status-bar-bg: $text-dark;
$gui-editor-status-bar-color: $text-light;

$gui-section-bg: $body-foreground;
$gui-section-border: $border-color;

$gui-section-padding: $padding-md;

$gui-section-header-color: $text-dark;
$gui-section-header-size: 1.25rem;

$gui-editor-header-height: 27px;

$gui-section-subheader-color: $text-muted;
$gui-section-subheader-size: $font-size-h5;

$gui-section-list-item-border: $light-border-color;
$gui-section-list-item-bg: $light-border-color;
$gui-section-list-item-color: $body-color;
$gui-section-list-item-icon-color: #9D9D9D;

$gui-section-list-item-hover-border: $brand-primary;
$gui-section-list-item-hover-bg: $light-border-color;
$gui-section-list-item-hover-color: $body-color;
$gui-section-list-item-hover-icon-color: $gui-section-list-item-icon-color;

$gui-section-list-item-select-border: $brand-primary;
$gui-section-list-item-select-bg: $brand-primary;
$gui-section-list-item-select-color: white;
$gui-section-list-item-select-icon-color: white;

$gui-section-list-item-border-size: 2px;
$gui-section-list-item-border-radius: $border-radius;

/**
 * TAB COMPONENTS
 */
$editor-bg: $body-background;
$editor-color: $text-dark;

/**
 * RESULTING COMMAND LINE
 */
$uncoded-color: $text-dark;
$console-default-color: $text-light;
$base-cmd-color: #7AC24D;
$input-port-color: #A77ED7;
$output-port-color: $uncoded-color;
$arg-color: #FDA365;
$console-error-color: lighten($brand-danger, 30%);
$console-warning-color: $brand-warning;


/**
 * FILE TABS
 */
$main-header-bg: #333;
$main-header-height: 44px;
$tab-bg: $chrome-dark-bg-secondary;
$tab-color: $text-light;

$tab-hover-bg: $tab-bg;
$tab-hover-color: white;

$tab-select-bg: $body-bg;
$tab-select-color: $body-color;

/**
 * SIDE PANELS
 */
$panel-resize-handle-width: 4px;
$panel-resize-handle-color: $chrome-dark-bg;

$panel-bg: $chrome-dark-bg;
$panel-header-bg: $chrome-dark-bg-secondary;
$panel-header-color: $chrome-dark-text;

/**
 * PANEL ITEMS
 */
$panel-item-width: 26px;
$panel-item-color: white;
$panel-item-icon-color: $panel-item-color;

$panel-item-hover-bg: lighten($panel-bg, 5%);
$panel-item-hover-color: $panel-item-color;

$panel-item-select-bg: $chrome-dark-bg-secondary;
$panel-item-select-color: white;
$panel-item-icon-select-color: $panel-item-select-color;

/**
 * PANEL TABS
 */
$panel-side-tab-zone-bg: $chrome-dark-bg;
$panel-side-tab-zone-border: $panel-side-tab-zone-bg;

$panel-side-tab-bg: $panel-side-tab-zone-bg;
$panel-side-tab-color: white;
$panel-side-tab-icon-color: #f0ad4e;

$panel-side-tab-hover-bg: lighten($panel-side-tab-zone-bg, 5%);
$panel-side-tab-hover-color: $panel-side-tab-color;
$panel-side-tab-hover-icon-color: $panel-side-tab-icon-color;

$panel-side-tab-select-bg: $chrome-dark-bg-secondary;
$panel-side-tab-select-color: $panel-side-tab-color;
$panel-side-tab-select-icon-color: $panel-side-tab-icon-color;

/**
 * EXPRESSION EDITOR
 */
$expression-editor-bg: #272822; // should be the same as the code editor background
$expression-editor-head-text: $font-size-base;
$expression-editor-color: ghostwhite;
$expression-editor-help-icon-color: #818286;
$expression-editor-border: #3B3F46;

$expression-editor-text-muted: #555658;
$expression-editor-error-color: $console-error-color;
$expression-editor-warning-color: $console-warning-color;

$expression-editor-result-height: 150px;

/**
 * ALERT OVERRIDES
 */

$state-success-bg: #ebfcdf;
$state-success-border: $brand-primary;

$state-info-bg: #f3f8fc;
$state-info-border: $brand-primary;

$state-warning-bg: #f9edbe;
$state-warning-border: $brand-warning;

$state-danger-bg: #ffd4d4;
$state-danger-border: $brand-danger;

$alert-padding-x: 0.6429rem;
$alert-padding-y: 0.6429rem;
$alert-border-radius: 5px;
$alert-border-width: 2px;

$alert-success-bg: $state-success-bg;
$alert-success-text: $body-color;
$alert-success-border: $state-success-border;
$alert-success-icon: $state-success-border;

$alert-info-bg: $state-info-bg;
$alert-info-text: $body-color;
$alert-info-border: $state-info-border;
$alert-info-icon: $state-info-border;

$alert-warning-bg: $state-warning-bg;
$alert-warning-text: $body-color;
$alert-warning-border: $state-warning-border;
$alert-warning-icon: $state-warning-border;

$alert-danger-bg: $state-danger-bg;
$alert-danger-text: $body-color;
$alert-danger-border: $state-danger-border;
$alert-danger-icon: $state-danger-border;

/**
 * BUTTONS
 */
$btn-secondary-color: $body-color;
$btn-secondary-bg: #f9f9f9;
$btn-secondary-border: #c7c7c7;

/**
* Quick-pick component
*/
$quick-pick-border-color: $brand-primary;

/** button borders */
$btn-success-border: #328e46;
$btn-primary-border: #296394;
$btn-danger-border: #804c03; // not according to style guide
$btn-warning-border: #bc7e20; // not according to style guide
