// GUI EDITOR
$gui-editor-bg: $background-grey;
$gui-editor-header-bg: $background-light;
$gui-editor-header-border: $border-color;

$gui-editor-status-bar-bg: $text-dark;
$gui-editor-status-bar-color: $text-light;

$gui-section-bg: $body-foreground;



// RESULTING COMMAND LINE
$console-default-color: $text-light;
$base-cmd-color: #7AC24D;
$input-port-color: #A77ED7;
$arg-color: #FDA365;

// FILE TABS
$main-header-bg: $brand-primary-bg-dark;
$tab-bg: $brand-primary-bg-bright;
$tab-color: $text-light;

$tab-hover-bg: $tab-bg;
$tab-hover-color: white;

$tab-select-bg: white;
$tab-select-color: $brand-primary-bg-dark;

// SIDE PANELS
$panel-bg: $brand-primary-bg;
$panel-resize-handle-color: $brand-primary-bg-dark;
$panel-header-bg: $brand-primary-bg-bright;
$panel-header-color: white;

// PANEL ITEMS
$panel-item-color: white;
$panel-item-icon-color: $panel-item-color;

$panel-item-hover-bg: $brand-primary-bg-dark;
$panel-item-hover-color: $panel-item-color;

$panel-item-select-bg: $brand-primary-bg-bright;
$panel-item-select-color: white;
$panel-item-icon-select-color: $panel-item-select-color;

// PANEL TABS
$panel-side-tab-zone-bg: $brand-primary-bg-dark;
$panel-side-tab-zone-border: $brand-primary-bg-dark;

$panel-side-tab-bg: $brand-primary-bg-dark;
$panel-side-tab-color: white;
$panel-side-tab-icon-color: #f0ad4e;

$panel-side-tab-hover-bg: lighten($brand-primary-bg-dark, 5%);
$panel-side-tab-hover-color: $panel-side-tab-color;
$panel-side-tab-hover-icon-color: $panel-side-tab-icon-color;

$panel-side-tab-select-bg: $brand-primary-bg-bright;
$panel-side-tab-select-color: $panel-side-tab-color;
$panel-side-tab-select-icon-color: $panel-side-tab-icon-color;