@import "./mixins";

.clickable {
    cursor: pointer;
}

.full-size-table-display {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}

.vertically-aligned-cell {
    display: table-cell;
    vertical-align: middle;
}

.unselectable {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
}

.deep-unselectable {
    &, * {
        -webkit-user-select: none; /* webkit (safari, chrome) browsers */
        -moz-user-select: none; /* mozilla browsers */
        -ms-user-select: none; /* IE10+ */
        user-select: none;
    }
}

.no-underline-hover:hover,
.no-underline-hover:focus {
    text-decoration: none;
}

.zero-size {
    font-size: 0;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.ellipsis {
    @include ellipsis();
}

.block {
    display: block;
}

.hidden {
    display: none !important;
}

.flex-fill {
    display: flex;
    flex-grow: 1;
}

.flex-baseline {
    display: flex;
    align-items: baseline;
}

.btn.btn-unstyled,
.btn.btn-unstyled:active,
.btn.btn-unstyled:hover,
.btn.btn-unstyled:focus {
    background: none;
    border: none;
    color: inherit;
    line-height: inherit;
    margin: inherit;
    outline: none;
    padding: inherit;
}


.btn.btn-unstyled:disabled {
    border: none;
    background: none;
}
