@import "~bootstrap/scss/variables";

$font-size-root: 15px;
$font-family-title: "Montserrat", "Helvetica Neue", sans-serif;

$gui-base-gray: rgb(51, 51, 51);
$body-background: #f3f3f3; // background color of negative space around components
$body-foreground: white; // background color of components
$text-dark: #333;
$text-light: ghostwhite;
$body-color: #333;

$brand-primary: #2e3e4e;
$btn-primary-bg: $brand-primary;

// Custom Brand Stuff
$brand-primary-bg: #22313F;
$brand-primary-bg-dark: #1B2833;
$brand-primary-bg-bright: #34495E;


/**
* Layout Size Variables
*/
$action-bar-height: 25px;
$sidebar-width: 70px;

/**
* Modal Variables
*/
$modal-header-border-color: rgba(0, 0, 0, .3);
$modal-footer-border-color: $modal-header-border-color;
$modal-content-bg: $gui-base-gray;
$modal-content-color: $body-color;

/**
* Form Variables
*/

$input-bg: #fff;
$input-border-focus: #c7c7c7;
$input-border-color: #c7c7c7;
$input-color-placeholder: $gray-dark;

$border-radius: 2px;
$input-border-radius: $border-radius;
$input-border-radius-sm: $border-radius;

$button-blue-text: #0275d8;

/**
* Tool Editor
*/
$collapse-icon-width: 20px;
$editor-padding-top: 10px;
$header-padding: .625rem;
$editor-header-height: $header-padding * 2 + $btn-padding-y-sm * 2 + $btn-line-height;

/**
* Workbox
*/
$workbox-tabs-height: 44px;


/**
*  SBG Variables
*/

$text-muted: #999;
$border-color: #ccc;
$light-border-color: #eee;
$background-grey: #f9f9f9;
$background-light: #fff;

$padding-sm: 10px;
$padding-md: 15px;


/**
* CLI colors
*/

$base-cmd-color: #7AC24D;
$input-port-color: #A77ED7;
$arg-color: #FDA365;

/**
* Status Bar
*/
$status-bar-vertical-padding: 8px;
$status-bar-line-height: 18px;
$status-bar-height: $status-bar-line-height + 2*$status-bar-vertical-padding;


/**
* Buttons
*/
$btn-secondary-bg: #f9f9f9;

/**
* Expression editor
*/
$expression-editor-bg: #000000;
$expression-editor-head-text: #ffffff;
