@import "variables";
@import "bootstrap-pack";
@import "mixins";
@import "resets";
@import "utils";
@import "~font-awesome/scss/font-awesome";
@import "../../app/components/block-loader/block-loader.component";
@import "typography";
@import "vectors";
@import "forms";

@import "themes/seven-bridges";

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
  width: 100%;
  height: 100%;
  background: $body-bg;
  color: $body-color;
}

