@import "../../../assets/sass/_variables.scss";
@import "../../../assets/sass/_mixins";

.ct-workbox-head {
    color: white;
    height: $main-header-height;
    width: 100%;
    background: $main-header-bg;
}

.ct-workbox-body {
    background: $editor-bg;
    height: calc(100% - #{$main-header-height});
    color: $editor-color;
    overflow-x: hidden;
    overflow-y: auto;
}

.inset-panel {
    position: relative;
}

.ct-tab-bar {
    display: flex;
    -webkit-user-select: none;
    margin: 0;
    background: $main-header-bg;
    font-size: $font-size-xs;
    height: 100%;
    width: calc(100% - 50px);
    padding: 0 0px 0 0;
    overflow-x: auto;
    overflow-y: hidden;

    .ct-workbox-tab {
        flex: 1;
        font-size: $font-size-xs;
        max-width: 275px;
        min-width: 40px;
        position: relative;
        background-image: -webkit-linear-gradient(top, lighten($tab-bg, 5%), $tab-bg);
        margin-top: $tab-top-margin;
        border-radius: 5px 5px 0 0;
        padding-left: 10px;
        padding-right: 25px;

        &.active {
            z-index: 1;
            color: $tab-select-color;
            background-image: -webkit-linear-gradient(top, $tab-select-bg, $tab-select-bg);
        }

        .title {
            @include ellipsis();
            position: relative;
            z-index: 1;
            vertical-align: middle;
            line-height: $main-header-height - $tab-top-margin;

        }

        .close-icon {
            position: absolute;
            top: 0;
            right: 0;
            vertical-align: middle;
            line-height: $main-header-height - $tab-top-margin;
            width: 20px;
            font-size: 16px;
            z-index: 10;
        }
    }

    .ct-workbox-tab ~ .ct-workbox-tab {
        margin-left: 4px
    }

    .ct-workbox-add-tab-icon {
        margin-top: $tab-top-margin;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        font-weight: bold;
    }

}

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

ct-settings-button {
    position: absolute;
    top: 6px;
    right: 6px;

    .warning {

    }
}

ct-tool-editor {
    display: block;
    height: 100%;
}


